@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("../css/font-awesome.min.css");
@import url("../fonts/Omnes/Omnes-stylesheet.css");
@import url("../css/animate.css");
:root {
  font-family: "Omnes" !important;
}

body {
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Omnes" !important;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  line-height: 32px;
}

p.big {
  font-size: 20px;
  line-height: 32px;
}

p.small {
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3f3f44;
}

h1 {
  font-size: 54px;
  line-height: 62px;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  line-height: 56px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
}

label {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  font-size: 16px;
  line-height: 32px;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

.no-pointer-event {
  pointer-events: none;
}

/*   normalize  */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.btn.btn-primary {
  height: 50px;
  color: #652d90 !important;
  background-color: #fff !important;
  border-color: #652d90 !important;
  font-size: 24px;
  line-height: 24px;
  border-radius: 100px;
  font-weight: 600;
  padding: 12px 40px 13px 40px;
  font-weight: 500;
  letter-spacing: 0.58px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-primary:hover {
  -webkit-box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
          box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-primary:focus {
  -webkit-box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
          box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn.btn-secondary {
  height: 60px;
  color: #fff !important;
  background-color: #652d90 !important;
  border-color: #652d90 !important;
  border-radius: 100px;
  font-size: 24px;
  line-height: 36px;
  padding: 12px 40px 15px 40px;
  font-weight: 500;
  letter-spacing: 0.58px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-secondary:hover {
  -webkit-box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
          box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-secondary:focus {
  -webkit-box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
          box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-pad-60 {
  padding: 12px 60px !important;
}

.btn-pad-45 {
  padding: 12px 45px !important;
}

.btn-full {
  width: 100%;
}

.social-svg-icon {
  margin: 0 auto;
  padding: 0;
  width: 22px;
  height: 22px;
  display: block;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #3f3f44;
}

.social-svg-icon:hover {
  background-color: #652d90;
}

.instagram-icon {
  -webkit-mask: url(../images/social/instagram.svg) no-repeat 100% 100%;
  mask: url(../images/social/instagram.svg) no-repeat 100% 100%;
  width: 22px;
  height: 22px;
}

.facebook-icon {
  -webkit-mask: url(../images/social/facebook.svg) no-repeat 100% 100%;
  mask: url(../images/social/facebook.svg) no-repeat 100% 100%;
  width: 12px;
  height: 23px;
}

.twitter-icon {
  -webkit-mask: url(../images/social/twitter.svg) no-repeat 100% 100%;
  mask: url(../images/social/twitter.svg) no-repeat 100% 100%;
  width: 26px;
  height: 22px;
}

.linkedin-icon {
  -webkit-mask: url(../images/social/linked-in.svg) no-repeat 100% 100%;
  mask: url(../images/social/linked-in.svg) no-repeat 100% 100%;
  width: 22px;
  height: 22px;
}

.custom-checkbox {
  padding-left: 30px;
}

.custom-checkbox .custom-control-label {
  font-weight: 400;
  color: #333;
  font-size: 16px;
  line-height: 17px;
}

.custom-checkbox .custom-control-label::before {
  top: 7px;
  width: 20px;
  height: 20px;
  left: -30px;
}

.custom-checkbox .custom-control-label::after {
  top: 7px;
  width: 20px;
  height: 20px;
  left: -30px;
}

.custom-checkbox .custom-control-label a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: #000;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #000;
  border-color: #000;
}

/* ############################ header section ############################### */
.fixed-top {
  background-color: #fff !important;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
  height: 100px;
  position: relative;
}

.header .page-title {
  display: none;
}

.header .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background-color: #fff;
  white-space: nowrap;
  z-index: 999;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(236, 236, 236, 0.6);
}

.header .navbar .navbar-brand {
  width: 180px;
  height: auto;
  position: unset;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .collapse1 {
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .collapse1 .navbar-nav .br-left {
  border-left: 2px solid #3f3f44;
}

.header .navbar .collapse1 .navbar-nav .nav-item a {
  color: #3f3f44;
  font-size: 20px;
  letter-spacing: 0.58px;
  line-height: 27px;
  padding: 6px 20px;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.header .navbar .collapse1 .navbar-nav .nav-item a::after {
  content: "";
  height: 2px;
  background-color: #652d90;
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.header .navbar .collapse1 .navbar-nav .nav-item a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #652d90;
}

.header .navbar .collapse1 .navbar-nav .nav-item a:hover::after {
  width: 22px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.header .navbar .collapse1 .navbar-nav .nav-item a.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #652d90;
}

.header .navbar .collapse1 .navbar-nav .nav-item a.active::after {
  width: 22px;
  opacity: 1;
}

.header .navbar .collapse1 .navbar-nav .nav-btn {
  padding-left: 20px !important;
}

.header .navbar .collapse1 .navbar-nav .nav-btn a.btn {
  font-size: 20px;
  line-height: 32px;
  border-radius: 4px;
  background-color: #652d90 !important;
  padding: 8px 40px !important;
  color: #fff !important;
  border-radius: 100px;
  border: 1px solid #652d90;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header .navbar .collapse1 .navbar-nav .nav-btn a.btn::after {
  display: none;
}

.header .navbar .collapse1 .navbar-nav .get-started {
  position: relative;
}

.header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu {
  padding: 10px 0;
  background: #ffffff;
  border: 1px solid #652d90;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
  border-radius: 12px;
  right: 0;
  left: auto;
  margin-top: 20px;
  overflow: hidden;
}

.header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a {
  padding: 8px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.34px;
  color: #6f3996;
  background-color: #ffffff;
  font-weight: 500;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  height: 64px;
}

.header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a::after {
  display: none;
}

.header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a .img-menu {
  height: 40px;
  width: 40px;
  min-width: 40px;
  margin-right: 14px;
  display: block;
  margin-top: -8px;
}

.header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a .img-menu img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a:hover {
  background-color: #f4f0f7;
}

.nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.user-account {
  padding-left: 10px;
}

.user-account ul {
  list-style: none;
  display: inline-block;
}

.user-account ul li {
  display: inline-block;
}

.user-account ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 22px;
  padding: 8px 20px 0px 20px;
}

.user-account ul li a:hover {
  color: #fff;
}

/* menu responsive */
.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  color: #333;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #dadada;
  height: 48px;
  background-color: #fff;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  padding: 14px 16px;
  border-radius: 12px;
}

.form-group .form-control:focus {
  border-color: #000;
  color: #000;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 13px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #000 !important;
  color: #fff;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  border: 0;
}

.select2-container--default .select2-selection--single {
  outline: 0;
  height: 48px !important;
  border: 1px solid #dadada !important;
  border-radius: 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 0 solid #dadada;
  height: 46px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 16px;
  line-height: 48px !important;
  font-weight: 500;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px !important;
  width: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #333 transparent transparent transparent !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #333 transparent !important;
  border-width: 0 4px 5px 4px;
}

/*  middle section start here */
.inner-page {
  padding-top: 0;
}

.middle-section {
  height: auto;
  padding-top: 100px;
}

.middle-section .no-gutter {
  padding: 0 !important;
}

.middle-section .no-gutter .row .no-pad {
  padding: 0 !important;
}

.middle-section .banner-section {
  padding: 70px 0 55px 0;
  background-color: #652d90;
}

.middle-section .banner-section .banner-left-content {
  padding-top: 70px;
}

.middle-section .banner-section .banner-left-content h2 {
  font-size: 58px;
  line-height: 60px;
  letter-spacing: 1.39px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 45px;
}

.middle-section .banner-section .banner-left-content p {
  color: #fff;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.77px;
}

.middle-section .banner-section .banner-left-content .banner-btn {
  padding: 110px 0 0 0;
}

.middle-section .learn-more-section {
  padding: 155px 0 64px 0;
  background-color: #fcfaf6;
}

.middle-section .learn-more-section .learn-more-card .learn-more-img {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 250px;
  margin-bottom: 50px;
}

.middle-section .learn-more-section .learn-more-card .learn-more-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 205px;
  margin: 0 auto;
}

.middle-section .learn-more-section .learn-more-card .learn-more-content {
  margin-bottom: 98px;
}

.middle-section .learn-more-section .learn-more-card .learn-more-content h3 {
  font-size: 32px;
  line-height: 34px;
  color: #3f3f44;
  font-weight: 600;
  letter-spacing: 0.54px;
  text-align: center;
}

.middle-section .learn-more-section .learn-more-card .learn-more-content p {
  font-size: 24px;
  line-height: 30px;
  color: #3f3f44;
  font-weight: 400;
  text-align: center;
}

.middle-section .learn-more-section .learmore-div {
  text-align: center;
}

.middle-section .connect-section {
  padding: 120px 0;
}

.middle-section .connect-section .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .connect-section .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .connect-section .connect-content {
  max-width: 451px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.middle-section .connect-section .connect-content h3 {
  color: #3f3f44;
  font-size: 58px;
  line-height: 60px;
  font-weight: 600;
}

.middle-section .connect-section .connect-content p {
  font-size: 28px;
  line-height: 32px;
  color: #3f3f44;
  margin-bottom: 34px;
}

.middle-section .connect-section .connect-block-row {
  padding: 160px 0;
  display: block;
}

.middle-section .connect-section .connect-even .connect-content {
  margin: 0 0 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.middle-section .student-express-section {
  background-color: #fcfaf6;
  padding: 35px 0;
}

.middle-section .student-express-section .heading {
  margin-bottom: 80px;
}

.middle-section .student-express-section .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .student-express-section .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .student-express-section .our-student {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.middle-section .student-express-section .our-student .feeling-img {
  margin-bottom: 20px;
  text-align: center;
  min-height: 100px;
}

.middle-section .student-express-section .our-student .feeling-img img {
  width: 70px;
  height: auto;
  margin: 0 auto;
}

.middle-section .student-express-section .our-student h3 {
  font-size: 24px;
  line-height: 32px;
  color: #3f3f44;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  font-weight: 600;
}

.middle-section .student-express-section .our-student h3:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 2px;
  width: 39px;
  background-color: rgba(63, 63, 68, 0.2);
  margin: 0 auto;
}

.middle-section .student-express-section .our-student p {
  font-size: 20px;
  color: rgba(63, 63, 68, 0.5);
  line-height: 26px;
}

.middle-section .student-express-section .owl-theme .owl-dots {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .student-express-section .owl-theme .owl-dots .owl-dot {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .student-express-section .owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}

.middle-section .student-express-section .owl-theme .owl-dots .owl-dot.active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .student-express-section .owl-theme .owl-dots .owl-dot.active span {
  width: 10px;
  height: 10px;
  background-color: #652d90 !important;
}

.middle-section .student-support-section {
  padding: 114px 0;
  background-color: #fff;
}

.middle-section .student-support-section .heading {
  margin-bottom: 116px;
}

.middle-section .student-support-section .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .student-support-section .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .student-support-section .support-student-img {
  margin-bottom: 100px;
}

.middle-section .student-support-section .support-student-img img {
  width: 100%;
  height: auto;
}

.middle-section .student-support-section .suport-student-content {
  max-width: 670px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.middle-section .student-support-section .suport-student-content h3 {
  font-size: 58px;
  line-height: 60px;
  color: #3f3f44;
  font-weight: 600;
}

.middle-section .student-support-section .suport-student-content p {
  font-size: 28px;
  color: #3f3f44;
  line-height: 32px;
  margin-bottom: 38px;
}

.middle-section .our-educator-section {
  background-color: #fcfaf6;
  padding: 45px 0;
}

.middle-section .our-educator-section .our-educator-inner .heading {
  margin-bottom: 80px;
}

.middle-section .our-educator-section .our-educator-inner .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .our-educator-section .our-educator-inner .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .our-educator-section .our-educator-inner .our-educator {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.middle-section .our-educator-section .our-educator-inner .our-educator .teacher-img {
  margin-bottom: 20px;
  text-align: center;
  min-height: 100px;
}

.middle-section .our-educator-section .our-educator-inner .our-educator .teacher-img img {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.middle-section .our-educator-section .our-educator-inner .our-educator h3 {
  font-size: 24px;
  line-height: 32px;
  color: #3f3f44;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  font-weight: 600;
}

.middle-section .our-educator-section .our-educator-inner .our-educator h3:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 2px;
  width: 39px;
  background-color: rgba(63, 63, 68, 0.2);
  margin: 0 auto;
}

.middle-section .our-educator-section .our-educator-inner .our-educator p {
  font-size: 20px;
  color: rgba(63, 63, 68, 0.5);
  line-height: 26px;
}

.middle-section .our-educator-section .our-educator-inner .owl-theme .owl-dots {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .our-educator-section .our-educator-inner .owl-theme .owl-dots .owl-dot {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .our-educator-section .our-educator-inner .owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}

.middle-section .our-educator-section .our-educator-inner .owl-theme .owl-dots .owl-dot.active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.middle-section .our-educator-section .our-educator-inner .owl-theme .owl-dots .owl-dot.active span {
  width: 10px;
  height: 10px;
  background-color: #652d90 !important;
}

.middle-section .ready-to-started-section {
  padding: 120px 0 60px 0;
  background-color: #fcfaf6;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
}

.middle-section .ready-to-started-section .heading {
  margin-bottom: 90px;
}

.middle-section .ready-to-started-section .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .ready-to-started-section .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .ready-to-started-section .btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .ready-to-started-section .btns-group a {
  margin: 0 10px;
}

.middle-section .learnmore-banner-section {
  background-color: #ffac00;
  height: 320px;
  background-image: url(../images/banner-learn-more.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.middle-section .learnmore-banner-section .leanmore-circle {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 320px;
}

.middle-section .learnmore-banner-section .leanmore-circle a {
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  z-index: 5;
  position: relative;
  letter-spacing: 1.39px;
  font-weight: 600;
}

.middle-section .learnmore-banner-section .leanmore-circle::after {
  content: "";
  width: 414px;
  height: 270px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: 0 auto;
  z-index: 2;
  background-image: url(../images/shap-lernmore.png);
}

.middle-section .insight-section {
  padding: 40px 0;
  background-color: #fcfaf6;
}

.middle-section .insight-section .heading {
  margin-bottom: 100px;
}

.middle-section .insight-section .heading h3 {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  text-align: center;
  font-weight: 400;
}

.middle-section .insight-section .heading h3 strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .insight-section .heading h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.middle-section .insight-section .heading h3 {
  line-height: 50px;
}

.middle-section .insight-section .insight-img {
  max-width: 334px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 94px;
}

.middle-section .insight-section .insight-img img {
  width: 100%;
}

.middle-section .insight-section .heading-2 {
  margin-bottom: 70px;
}

.middle-section .insight-section .heading-2 h3 {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  text-align: center;
  font-weight: 400;
}

.middle-section .insight-section .heading-2 h3 strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .insight-section .heading-2 h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.middle-section .insight-section .btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .insight-section .btns-group .btn {
  margin-right: 25px;
}

.middle-section .insight-section .btns-group .btn:last-child {
  margin-right: 0;
}

.middle-section .feature-section {
  padding: 145px 0;
  background-color: #fff;
  min-height: 630px;
  padding: 50px 0;
}

.middle-section .feature-section .feature-card.time {
  border: 2px solid #6bcd83;
}

.middle-section .feature-section .feature-card.culture {
  border: 2px solid #ffac00;
}

.middle-section .feature-section .feature-card.tracking {
  border: 2px solid #6599fe;
}

.middle-section .feature-section .feature-card.comfort {
  border: 2px solid #7dcdf8;
}

.middle-section .feature-section .feature-card.confidence {
  border: 2px solid #f77d2c;
}

.middle-section .feature-section .feature-card.stigma {
  border: 2px solid #ef659f;
}

.middle-section .feature-section .owl-item.center .feature-card {
  margin-top: 50px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-bottom: 50px;
  min-height: 420px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .feature-section .owl-item.center .feature-card .feature-body p {
  -webkit-line-clamp: 5;
  min-height: 120px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .feature-section .feature-card {
  border-radius: 13px;
  margin: 80px 0;
  min-height: 340px;
  max-height: 340px;
}

.middle-section .feature-section .feature-card .feature-body {
  padding: 60px 20px 20px 20px;
  text-align: center;
}

.middle-section .feature-section .feature-card .feature-body h4 {
  font-size: 24px;
  line-height: 46px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3f3f44;
}

.middle-section .feature-section .feature-card .feature-body p {
  font-size: 20px;
  line-height: 32px;
  color: #3f3f44;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  max-width: 100%;
}

.middle-section .feature-section .feature-card .feature-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.middle-section .feature-section .feature-card .feature-footer img {
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
  max-width: 100px;
}

.middle-section .feature-section .feature-card .feature-footer .max-70 {
  max-width: 70px;
  position: relative;
  top: -5px;
}

.middle-section .feature-section .owl-theme .owl-nav {
  position: absolute;
  top: calc(50% - 50px);
  right: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.middle-section .feature-section .owl-theme .owl-nav .owl-prev {
  left: -30px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #fff;
}

.middle-section .feature-section .owl-theme .owl-nav .owl-prev i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6px 0 0 0;
}

.middle-section .feature-section .owl-theme .owl-next {
  right: -30px;
  position: absolute;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
  color: #fff;
}

.middle-section .feature-section .owl-theme .owl-next i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 -6px 0px;
}

.middle-section .feature-section .owl-theme button {
  height: 26px;
  width: 26px;
  border: 1px solid #652D90;
  background-color: #652d90;
  border-radius: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-section .feature-section .owl-theme button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.middle-section .feature-section .owl-theme button:hover {
  border: 1px solid #652D90;
  background-color: #652d90;
  color: #fff;
}

.middle-section .student-section {
  padding: 60px 0;
}

.middle-section .student-section .heading h3 {
  font-size: 58px;
  line-height: 60px;
  font-weight: 600;
}

.middle-section .student-section .card-student {
  background-color: #fcfaf6;
  padding: 50px;
  border-radius: 13px;
}

.middle-section .student-section .card-student .heading {
  margin-bottom: 83px;
}

.middle-section .student-section .card-student .heading h3 {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  text-align: center;
  font-weight: 400;
}

.middle-section .student-section .card-student .heading h3 strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .student-section .card-student .heading h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.middle-section .student-section .card-student .img-feeling {
  margin: 0;
  text-align: center;
  margin-bottom: 80px;
}

.middle-section .student-section .card-student .img-feeling img {
  max-width: 373px;
  width: 100%;
}

.middle-section .student-section .card-student .heading-2 h3 {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  text-align: center;
  font-weight: 400;
}

.middle-section .student-section .card-student .heading-2 h3 strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .student-section .card-student .heading-2 h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.middle-section .student-section .btn-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}

.middle-section .student-section .btn-groups .btn {
  margin-right: 25px;
}

.middle-section .student-section .btn-groups .btn:last-child {
  margin-right: 0;
}

.middle-section .student-section .youhue-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.middle-section .student-section .youhue-div img {
  width: 58px;
}

.middle-section .excersie-section {
  padding: 100px 0;
  background-color: #fff;
  position: relative;
}

.middle-section .excersie-section::after {
  content: "";
  background-image: url(../images/exc-smile.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -50px;
  top: 20%;
  height: 212px;
  width: 212px;
  z-index: 2;
}

.middle-section .excersie-section::before {
  content: "";
  background-image: url(../images/exc-confused.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -50px;
  top: 20%;
  height: 212px;
  width: 212px;
  z-index: 2;
}

.middle-section .excersie-section .content p {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.middle-section .educator-section {
  padding: 60px 0;
}

.middle-section .educator-section .heading h3 {
  font-size: 58px;
  line-height: 60px;
  font-weight: 600;
}

.middle-section .educator-section .card-educator {
  background-color: #fcfaf6;
  padding: 50px;
  border-radius: 13px;
}

.middle-section .educator-section .card-educator .heading {
  margin-bottom: 83px;
}

.middle-section .educator-section .card-educator .heading h3 {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  text-align: center;
  font-weight: 400;
}

.middle-section .educator-section .card-educator .heading h3 strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .educator-section .card-educator .heading h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.middle-section .educator-section .card-educator .img-feeling {
  margin: 0;
  text-align: center;
  margin-bottom: 80px;
}

.middle-section .educator-section .card-educator .img-feeling img {
  max-width: 373px;
  width: 100%;
}

.middle-section .educator-section .card-educator .max-880 img {
  max-width: 880px;
  width: 100%;
}

.middle-section .educator-section .card-educator .heading-2 h3 {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  text-align: center;
  font-weight: 400;
}

.middle-section .educator-section .card-educator .heading-2 h3 strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .educator-section .card-educator .heading-2 h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.middle-section .educator-section .btn-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}

.middle-section .educator-section .btn-groups .btn {
  margin-right: 25px;
}

.middle-section .educator-section .btn-groups .btn:last-child {
  margin-right: 0;
}

.middle-section .educator-section .youhue-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.middle-section .educator-section .youhue-div img {
  width: 58px;
}

.middle-section .better-support-section {
  padding: 100px 0;
  background-color: #fff;
  position: relative;
}

.middle-section .better-support-section::after {
  content: "";
  background-image: url(../images/romantic.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -50px;
  top: 20%;
  height: 212px;
  width: 212px;
  z-index: 2;
}

.middle-section .better-support-section::before {
  content: "";
  background-image: url(../images/angry.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -50px;
  top: 20%;
  height: 212px;
  width: 212px;
  z-index: 2;
}

.middle-section .better-support-section .content p {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.middle-section .ourstories-banner-section {
  background-color: #b0360b;
  height: 320px;
  background-image: url(../images/banner-school-stories.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.middle-section .ourstories-banner-section .ourstories-heading {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 320px;
}

.middle-section .ourstories-banner-section .ourstories-heading h3 {
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  z-index: 5;
  position: relative;
  letter-spacing: 1.39px;
  font-weight: 600;
}

.middle-section .self-report-section {
  padding: 85px 0;
  background-color: #fcfaf6;
}

.middle-section .self-report-section .heading {
  margin-bottom: 53px;
  color: #000;
}

.middle-section .self-report-section .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .self-report-section .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .self-report-section .heading-2 {
  margin-bottom: 56px;
  color: #000;
  font-weight: 400;
}

.middle-section .self-report-section .heading-2 h3 {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  text-align: center;
  font-weight: 400;
}

.middle-section .self-report-section .heading-2 h3 strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .self-report-section .heading-2 h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.middle-section .self-report-section .self-report-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .self-report-section .self-report-image img {
  max-width: 286px;
  width: 100%;
}

.middle-section .school-section {
  padding: 120px 0 0 0;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.middle-section .school-section::after {
  content: "";
  display: block;
  width: 220px;
  background-image: url(../images/calm.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 220px;
  position: absolute;
  right: -50px;
  bottom: 10px;
  z-index: 99;
}

.middle-section .school-section .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 60px;
}

.middle-section .school-section .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .school-section .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .school-section .heading img {
  height: 44px;
  width: 44px;
  margin-right: 20px;
}

.middle-section .school-section .heading h3 {
  margin-bottom: 0;
  text-align: left;
}

.middle-section .school-section .heading-2 h3 {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  text-align: center;
  font-weight: 400;
}

.middle-section .school-section .heading-2 h3 strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .school-section .heading-2 h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.middle-section .school-section .quote-box {
  margin-bottom: 100px;
}

.middle-section .school-section .quote-box .quote-img {
  padding: 50px 0;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .school-section .quote-box .quote-img img {
  max-width: 67px;
}

.middle-section .school-section .quote-box .quote-text {
  max-width: 1000px;
  margin: 0 auto 70px auto;
}

.middle-section .school-section .quote-box .quote-text p {
  font-size: 28px;
  line-height: 40px;
  color: #000;
  text-align: center;
  font-weight: 400;
}

.middle-section .school-section .quote-box .quote-action {
  text-align: center;
}

.middle-section .school-section .quote-box .quote-action a {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  color: #3f3f44;
}

.middle-section .school-section .quote-box .quote-action a:hover {
  color: #000;
  text-decoration: underline;
}

.middle-section .two::after {
  left: -50px;
  background-image: url("../images/Stressed.png");
}

.middle-section .three::after {
  right: -50px;
  background-image: url("../images/indifferent.png");
}

.middle-section .help-school-section {
  padding: 110px 0;
}

.middle-section .help-school-section .heading {
  margin-bottom: 83px;
}

.middle-section .help-school-section .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .help-school-section .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .help-school-section .help-school-tabs {
  width: 100%;
}

.middle-section .help-school-section .help-school-tabs .nav-tabs {
  border: 0;
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
  bottom: -30px;
  z-index: 22;
}

.middle-section .help-school-section .help-school-tabs .nav-tabs li {
  display: inline-block;
}

.middle-section .help-school-section .help-school-tabs .nav-tabs li a {
  position: relative;
  background-color: #844caf;
  color: #fff;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.58px;
  margin: 0 10px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  border-radius: 29px;
  border: 0;
  max-width: 210px;
  min-width: 210px;
  width: 100%;
}

.middle-section .help-school-section .help-school-tabs .nav-tabs li a:hover {
  background-color: #652d90;
}

.middle-section .help-school-section .help-school-tabs .nav-tabs li a.active {
  background-color: #652d90;
}

.middle-section .help-school-section .help-school-tabs .tab-content {
  border-radius: 100px;
  overflow: hidden;
  margin-bottom: 50px;
}

.middle-section .help-school-section .help-school-tabs .tab-content .content-inner {
  padding: 190px 75px 100px 75px;
}

.middle-section .help-school-section .help-school-tabs .tab-content .bg-yellow {
  background-color: rgba(255, 172, 0, 0.25);
}

.middle-section .help-school-section .help-school-tabs .tab-content .bg-green {
  background-color: rgba(107, 205, 131, 0.25);
}

.middle-section .help-school-section .help-school-tabs .tab-content .bg-pink {
  background-color: rgba(239, 101, 159, 0.25);
}

.middle-section .help-school-section .help-school-tabs .tab-content .bg-orange {
  background-color: rgba(247, 125, 44, 0.25);
}

.middle-section .help-school-section .help-school-tabs .tab-content .content-img {
  margin: 0 auto;
  text-align: center;
}

.middle-section .help-school-section .help-school-tabs .tab-content .content-img img {
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.middle-section .help-school-section .help-school-tabs .tab-content .content P {
  font-size: 32px;
  line-height: 40px;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.middle-section .help-school-section .learnmore-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

.middle-section .contact-us-section {
  background-color: #299d35;
  height: 320px;
  background-image: url(../images/bg-conatct.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.middle-section .contact-us-section .contact-us-heading {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 320px;
}

.middle-section .contact-us-section .contact-us-heading h3 {
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  z-index: 5;
  position: relative;
  letter-spacing: 1.39px;
  font-weight: 600;
}

.middle-section .qna-section {
  padding: 85px 0 52px 0;
  background-color: #fcfaf6;
}

.middle-section .qna-section .content h3 {
  font-size: 32px;
  line-height: 46px;
  color: #000;
  font-weight: 500;
  text-align: center;
}

.middle-section .contact-form-section {
  padding: 105px 0;
  background-color: #fff;
}

.middle-section .contact-form-section .heading {
  margin-bottom: 60px;
}

.middle-section .contact-form-section .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .contact-form-section .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .contact-form-section .conatct-form .form-group {
  margin-bottom: 38px;
}

.middle-section .contact-form-section .conatct-form .form-group .form-control {
  height: 84px;
  width: 100%;
  font-size: 28px;
  line-height: 51px;
  border-radius: 8px;
  border: 1px solid #a895a0;
  font-weight: 400;
  color: #3f3f44;
}

.middle-section .contact-form-section .conatct-form .form-group textarea.form-control {
  height: 400px;
  width: 100%;
  font-size: 28px;
  line-height: 51px;
  border-radius: 8px;
  border: 1px solid #a895a0;
  font-weight: 400;
  color: #3f3f44;
}

.middle-section .helpcenter-banner-section {
  background-color: #ef659f;
  height: 320px;
  background-image: url(../images/bg-help-center.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.middle-section .helpcenter-banner-section .help-center-heading {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 320px;
}

.middle-section .helpcenter-banner-section .help-center-heading h3 {
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  z-index: 5;
  position: relative;
  letter-spacing: 1.39px;
  font-weight: 600;
}

.middle-section .how-can-help-section {
  padding: 85px 0 52px 0;
  background-color: #fcfaf6;
}

.middle-section .how-can-help-section .help-content {
  text-align: center;
}

.middle-section .how-can-help-section .help-content .heading {
  color: #3f3f44;
  margin-bottom: 72px;
}

.middle-section .how-can-help-section .help-content .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .how-can-help-section .help-content .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .how-can-help-section .help-content .content-text {
  margin-bottom: 50px;
}

.middle-section .how-can-help-section .help-content .content-text p {
  font-size: 28px;
  line-height: 40px;
  color: #000;
  text-align: center;
  font-weight: 400;
}

.middle-section .how-can-help-section .help-content .btns-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .how-can-help-section .help-content .btns-group .btn {
  margin-right: 25px;
}

.middle-section .how-can-help-section .help-content .btns-group .btn:last-child {
  margin-right: 0;
}

.middle-section .accordian-section {
  padding: 120px 0;
  background-color: #fff;
}

.middle-section .accordian-section .accordian-content {
  margin-bottom: 100px;
}

.middle-section .accordian-section .accordian-content .accordian-heading h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000;
}

.middle-section .accordian-section .accordian-content .accordian-main .accordion .card {
  border: 0;
  margin-bottom: 5px;
}

.middle-section .accordian-section .accordian-content .accordian-main .accordion .card .card-header {
  padding: 0;
  border: 0;
}

.middle-section .accordian-section .accordian-content .accordian-main .accordion .card .card-header button {
  background-color: #fcfaf6;
  border-radius: 6px;
  font-size: 28px;
  line-height: 40px;
  color: #373c51;
  text-decoration: none;
  font-weight: 400;
  min-height: 84px;
  width: 100%;
  padding: 20px 45px;
  position: relative;
}

.middle-section .accordian-section .accordian-content .accordian-main .accordion .card .card-header button:after {
  content: "";
  background-image: url(../images/arrow-accordian.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top: auto;
  height: 40px;
  width: 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.middle-section .accordian-section .accordian-content .accordian-main .accordion .card .card-header button[aria-expanded="true"]::after {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.middle-section .accordian-section .accordian-content .accordian-main .accordion .card .card-body {
  border: 0;
  background-color: #fcfaf6;
  padding: 20px 45px;
}

.middle-section .accordian-section .accordian-content .accordian-main .accordion .card .card-body p {
  font-size: 24px;
  line-height: 36px;
  color: #373c51;
}

.middle-section .need-morehelp-section {
  padding: 20px 0 90px 0;
}

.middle-section .need-morehelp-section .heading h3 {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  font-weight: 400;
  text-align: center;
}

.middle-section .need-morehelp-section .heading a {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  text-decoration: underline;
}

.middle-section .about-banner-section {
  background-color: #e25674;
  height: 320px;
  background-image: url(../images/bg-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.middle-section .about-banner-section .about-heading {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 320px;
}

.middle-section .about-banner-section .about-heading h3 {
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  z-index: 5;
  position: relative;
  letter-spacing: 1.39px;
  font-weight: 600;
}

.middle-section .about-content-section {
  padding: 87px 0;
  background-color: #fcfaf6;
}

.middle-section .about-content-section .content {
  margin-bottom: 150px;
}

.middle-section .about-content-section .content h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
  margin-bottom: 45px;
}

.middle-section .about-content-section .content p {
  line-height: 50px;
  font-size: 28px;
  color: #000000;
  text-align: center;
}

.middle-section .about-content-section .content-img {
  margin-bottom: 100px;
}

.middle-section .skill-section {
  padding: 114px 0;
  background-color: #fff;
}

.middle-section .skill-section .skill-list {
  padding-left: 100px;
  position: relative;
  margin-bottom: 85px;
}

.middle-section .skill-section .skill-list .skill-img {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: auto;
  min-width: 100px;
  min-height: 120px;
  padding-top: 10px;
}

.middle-section .skill-section .skill-list .skill-img img {
  width: auto;
  height: auto;
}

.middle-section .skill-section .skill-list .skill-content p {
  line-height: 40px;
  font-size: 28px;
  color: #000000;
  text-align: left;
  font-weight: 400;
}

.middle-section .skill-section .content {
  margin-bottom: 145px;
}

.middle-section .skill-section .content P {
  line-height: 40px;
  font-size: 28px;
  color: #000000;
  text-align: center;
  font-weight: 400;
}

.middle-section .excersie-about-section {
  padding: 100px 0;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.middle-section .excersie-about-section::after {
  content: "";
  background-image: url(../images/happy.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -50px;
  top: 20%;
  height: 212px;
  width: 212px;
  z-index: 2;
}

.middle-section .excersie-about-section::before {
  content: "";
  background-image: url(../images/sad.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -50px;
  top: 20%;
  height: 212px;
  width: 212px;
  z-index: 2;
}

.middle-section .excersie-about-section .content p {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.middle-section .room-life-section {
  padding: 120px 0;
  background-color: #fff;
}

.middle-section .room-life-section .room-life-content .content {
  margin-bottom: 75px;
}

.middle-section .room-life-section .room-life-content .content h3 {
  font-size: 28px;
  line-height: 40px;
  color: #3f3f44;
  text-align: center;
  font-weight: 400;
}

.middle-section .room-life-section .room-life-content .content h3 strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .room-life-section .room-life-content .content h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.middle-section .room-life-section .room-life-content .room-life-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 75px;
}

.middle-section .room-life-section .room-life-content .room-life-img img {
  max-width: 375px;
  margin: 0 auto;
}

.middle-section .room-life-section .room-life-content .btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.middle-section .get-in-touch-section {
  padding: 36px 0 50px 0;
  background-color: #fcfaf6;
}

.middle-section .get-in-touch-section .heading {
  margin-bottom: 90px;
}

.middle-section .get-in-touch-section .heading h3 {
  font-size: 32px;
  line-height: 36px;
  color: #3f3f44;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .middle-section .get-in-touch-section .heading h3 {
    font-size: 22px;
    line-height: 26px;
  }
}

.middle-section .get-in-touch-section .btn-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.middle-section .get-in-touch-section .btn-groups .btn {
  margin-right: 25px;
  margin-bottom: 10px;
}

.middle-section .get-in-touch-section .btn-groups .btn:last-child {
  margin-right: 0;
}

.footer-section {
  padding: 48px 0 0 0;
  background-color: #fcfaf6;
}

.footer-section .footer-content-link {
  padding: 20px 0 0 0;
}

.footer-section .footer-content {
  margin-bottom: 50px;
}

.footer-section .footer-content h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #3f3f44;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}

.footer-section .footer-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul li {
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  width: 100%;
  color: #3f3f44;
}

.footer-section .footer-content ul li a {
  display: block;
  color: #3f3f44;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  word-break: break-all;
  position: relative;
  text-align: center;
}

.footer-section .footer-content ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #000;
}

.footer-section .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto 10px auto;
}

.footer-section .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-section .social-media ul li {
  display: inline-block;
  margin-right: 25px;
  width: auto;
}

.footer-section .social-media ul li:last-child {
  margin-right: 0;
}

.footer-section .social-media ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f3f44;
  background-color: transparent;
  border: 1px solid rgba(180, 180, 180, 0);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 24px;
}

.footer-section .social-media ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid rgba(180, 180, 180, 0);
  color: #fff;
}

.footer-section .copy-right-text {
  padding: 20px 0 20px 0;
}

.footer-section .copy-right-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 22px;
}

.footer-section .copy-right-text .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer-section .copy-right-text .footer-bottom p {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 0;
  color: white;
  margin-left: 22px;
  text-align: center;
}

.footer-section .copy-right-text .footer-bottom ul {
  width: 100%;
  text-align: center;
}

.footer-section .copy-right-text .footer-bottom ul li {
  display: inline-block;
  margin: 0 40px;
  color: #3f3f44;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.footer-section .copy-right-text .footer-bottom ul li a {
  color: #3f3f44;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.footer-section .copy-right-text .footer-bottom ul li a:hover {
  color: #000;
}

button.mfp-close,
button.mfp-arrow {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */
@media (max-width: 320px) {
  .btn-pad-60 {
    padding: 12px 30px !important;
  }
  .header .page-title a {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .btn.btn-secondary {
    height: 50px;
    font-size: 16px;
    line-height: 26px;
    padding: 12px 30px;
  }
  .header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu {
    padding: 5px 0;
  }
  .header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a {
    padding: 8px 20px;
    font-size: 18px;
    line-height: 30px;
    height: 40px;
  }
  .header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a .img-menu {
    height: 25px;
    width: 25px;
    min-width: 25px;
    margin-right: 14px;
    display: block;
    margin-top: -10px;
  }
  .header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a .img-menu img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header .page-title {
    display: none !important;
    position: absolute;
    left: 110px;
    top: -22px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .page-title a {
    color: #fff;
    max-width: 100px;
    display: block;
    white-space: normal;
    line-height: 20px;
  }
  .header .navbar {
    padding: 15px 0;
    z-index: 999;
    height: 75px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 140px !important;
    height: auto;
    padding: 0;
    position: relative;
    z-index: 9;
    top: 0;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav {
    padding: 0 20px;
  }
  .header .navbar .navbar-collapse .navbar-nav .br-left {
    border: 0;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
    border-bottom: 1px solid rgba(66, 94, 112, 0.03);
    width: 100%;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    padding: 8px 12px;
    font-size: 16px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a::after {
    background-color: #652d90;
    border-color: #652d90;
    left: 12px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    color: #652d90;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a.active {
    color: #652d90;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn {
    padding-left: 22px !important;
    margin-top: 10px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn .btn.btn {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    position: absolute;
    right: 15px;
    top: -20px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: 0;
  }
  .user-account {
    padding-right: 60px;
  }
  .user-account ul li a {
    padding: 7px 10px;
    font-size: 20px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(101, 45, 144, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 300px;
    right: -400px;
  }
  .width-menu {
    right: 0;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 22px;
    height: 22px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  /* middle section start here */
  .middle-section {
    padding-top: 75px;
  }
  .middle-section .banner-section {
    padding: 60px 0;
  }
  .middle-section .banner-section .banner-left-content {
    padding: 0;
  }
  .middle-section .banner-section .banner-left-content h2 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .middle-section .banner-section .banner-left-content p {
    font-size: 22px;
    line-height: 30px;
  }
  .middle-section .banner-section .banner-left-content .banner-btn {
    padding: 30px 0;
  }
  .middle-section .banner-section .banner-left-content .banner-btn .btn {
    font-size: 18px;
    line-height: 26px;
  }
  .middle-section .learn-more-section {
    padding: 60px 0;
  }
  .middle-section .learn-more-section .learn-more-card .learn-more-img {
    height: auto;
    margin-bottom: 20px;
  }
  .middle-section .learn-more-section .learn-more-card .learn-more-img img {
    max-width: 150px;
  }
  .middle-section .learn-more-section .learn-more-card .learn-more-content {
    margin-bottom: 30px;
  }
  .middle-section .learn-more-section .learn-more-card .learn-more-content h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .middle-section .learn-more-section .learn-more-card .learn-more-content p {
    font-size: 20px;
    line-height: 28px;
  }
  .middle-section .connect-section {
    padding: 60px 0;
  }
  .middle-section .connect-section .connect-block-row {
    padding: 30px 0;
  }
  .middle-section .connect-section .connect-content h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .middle-section .connect-section .connect-content p {
    font-size: 20px;
    line-height: 24px;
  }
  .middle-section .connect-section .connect-content .btn {
    margin-bottom: 20px;
  }
  .middle-section .connect-section .connect-img img {
    width: 100%;
  }
  .middle-section .connect-section .connect-even .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .student-support-section {
    padding: 60px 0;
  }
  .middle-section .student-support-section .heading {
    margin-bottom: 60px;
  }
  .middle-section .student-support-section .suport-student-content h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .middle-section .student-support-section .suport-student-content p {
    font-size: 20px;
    line-height: 26px;
  }
  .middle-section .ready-to-started-section {
    padding: 60px 0;
    overflow: hidden;
  }
  .middle-section .ready-to-started-section .heading {
    margin-bottom: 40px;
  }
  .middle-section .ready-to-started-section .btns-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle-section .ready-to-started-section .btns-group .btn {
    margin-bottom: 10px;
    width: 100%;
  }
  .middle-section .learnmore-banner-section {
    height: 220px;
    background-size: 100%;
  }
  .middle-section .learnmore-banner-section .leanmore-circle {
    min-height: 220px;
    padding-top: 80px;
  }
  .middle-section .learnmore-banner-section .leanmore-circle a {
    font-size: 24px;
    line-height: 30px;
  }
  .middle-section .learnmore-banner-section .leanmore-circle::after {
    width: 207px;
    height: 135px;
    background-size: contain;
  }
  .middle-section .insight-section .heading {
    margin-bottom: 40px;
  }
  .middle-section .insight-section .heading h3 {
    line-height: 30px;
  }
  .middle-section .insight-section .insight-img {
    margin-bottom: 40px;
  }
  .middle-section .insight-section .heading-2 {
    margin-bottom: 30px;
  }
  .middle-section .insight-section .btns-group .btn {
    margin-right: 15px;
  }
  .middle-section .insight-section .btns-group .btn:last-child {
    margin-right: 0;
  }
  .middle-section .feature-section .feature-card {
    min-height: unset;
    max-height: unset;
    margin: 0;
  }
  .middle-section .feature-section .feature-card .feature-body p {
    min-height: 200px;
  }
  .middle-section .feature-section .owl-item.center .feature-card {
    margin: 0;
    -webkit-transform: unset !important;
            transform: unset !important;
    min-height: unset;
    max-height: unset;
  }
  .middle-section .feature-section .owl-item.center .feature-card .feature-body p {
    min-height: 200px;
  }
  .middle-section .feature-section .owl-theme .owl-nav {
    width: 80%;
    margin: 0 auto;
  }
  .middle-section .student-section {
    padding: 40px 0;
  }
  .middle-section .student-section .heading h3 {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .middle-section .student-section .card-student {
    padding: 40px 30px;
  }
  .middle-section .student-section .card-student .heading {
    margin-bottom: 40px;
  }
  .middle-section .student-section .card-student .img-feeling {
    margin-bottom: 40px;
  }
  .middle-section .student-section .youhue-div {
    padding: 40px 0;
  }
  .middle-section .student-section .btn-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
  }
  .middle-section .student-section .btn-groups .btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .middle-section .excersie-section {
    padding: 30px 0;
    overflow: hidden;
  }
  .middle-section .excersie-section .content {
    padding: 0 30px;
  }
  .middle-section .excersie-section .content p {
    font-size: 20px;
    line-height: 30px;
  }
  .middle-section .excersie-section::before {
    height: 100px;
    width: 100px;
  }
  .middle-section .excersie-section::after {
    height: 100px;
    width: 100px;
  }
  .middle-section .educator-section .heading h3 {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .middle-section .educator-section .card-educator {
    padding: 30px 20px;
  }
  .middle-section .educator-section .card-educator .heading {
    margin-bottom: 40px;
  }
  .middle-section .educator-section .card-educator .img-feeling {
    margin-bottom: 30px;
  }
  .middle-section .educator-section .youhue-div {
    padding: 50px 0;
  }
  .middle-section .educator-section .btn-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
  }
  .middle-section .educator-section .btn-groups .btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .middle-section .better-support-section {
    padding: 40px 0;
    overflow: hidden;
  }
  .middle-section .better-support-section .content {
    padding: 0 30px;
  }
  .middle-section .better-support-section .content p {
    font-size: 20px;
    line-height: 30px;
  }
  .middle-section .better-support-section::before {
    height: 100px;
    width: 100px;
  }
  .middle-section .better-support-section::after {
    height: 100px;
    width: 100px;
  }
  .middle-section .ourstories-banner-section {
    height: 220px;
    background-position: center right;
  }
  .middle-section .ourstories-banner-section .ourstories-heading {
    min-height: 220px;
  }
  .middle-section .ourstories-banner-section .ourstories-heading h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .middle-section .self-report-section {
    padding: 60px 0;
  }
  .middle-section .self-report-section .heading {
    margin-bottom: 30px;
  }
  .middle-section .self-report-section .heading-2 {
    margin-bottom: 30px;
  }
  .middle-section .school-section {
    padding: 60px 0 0 0;
  }
  .middle-section .school-section::after {
    height: 100px;
    width: 100px;
    background-size: cover;
    right: -20px;
  }
  .middle-section .school-section .quote-box {
    margin-bottom: 30px;
  }
  .middle-section .school-section .quote-box .quote-img {
    padding: 20px 0;
  }
  .middle-section .school-section .quote-box .quote-img img {
    width: 45px;
  }
  .middle-section .school-section .quote-box .quote-text {
    margin-bottom: 30px;
  }
  .middle-section .school-section .quote-box .quote-text p {
    font-size: 24px;
    line-height: 36px;
  }
  .middle-section .two::after {
    left: -20px;
  }
  .middle-section .three::after {
    right: -20px;
  }
  .middle-section .help-school-section {
    padding: 60px 0;
    overflow: hidden;
  }
  .middle-section .help-school-section .heading {
    margin-bottom: 30px;
  }
  .middle-section .help-school-section .help-school-tabs ul.nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .middle-section .help-school-section .help-school-tabs ul.nav-tabs li {
    margin-right: 10px;
  }
  .middle-section .help-school-section .help-school-tabs ul.nav-tabs li a {
    font-size: 16px;
    line-height: 20px;
    height: 50px;
    max-width: unset;
    min-width: unset;
    margin-right: 0px;
  }
  .middle-section .help-school-section .help-school-tabs ul.nav-tabs li a:hover {
    background-color: #652d90;
  }
  .middle-section .help-school-section .help-school-tabs .tab-content {
    padding: 0 10px;
  }
  .middle-section .help-school-section .help-school-tabs .tab-content .content-inner {
    padding: 100px 30px 60px 30px;
  }
  .middle-section .help-school-section .help-school-tabs .tab-content .content-inner .content-img {
    margin-bottom: 20px;
  }
  .middle-section .help-school-section .help-school-tabs .tab-content .content-inner .content P {
    font-size: 20px;
    line-height: 30px;
  }
  .middle-section .contact-us-section {
    height: 220px;
    background-position: center right;
  }
  .middle-section .contact-us-section .contact-us-heading {
    min-height: 220px;
  }
  .middle-section .contact-us-section .contact-us-heading h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .middle-section .qna-section {
    padding: 40px 0;
  }
  .middle-section .qna-section .content h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .middle-section .contact-form-section {
    padding: 40px 0;
  }
  .middle-section .contact-form-section .heading {
    margin-bottom: 30px;
  }
  .middle-section .contact-form-section .conatct-form .form-group {
    margin-bottom: 20px;
  }
  .middle-section .contact-form-section .conatct-form .form-group .form-control {
    height: 50px;
    font-size: 18px;
    line-height: 30px;
  }
  .middle-section .contact-form-section .conatct-form .form-group textarea.form-control {
    height: 200px;
    font-size: 18px;
    line-height: 30px;
  }
  .middle-section .helpcenter-banner-section {
    height: 220px;
    background-position: center;
  }
  .middle-section .helpcenter-banner-section .help-center-heading {
    min-height: 220px;
  }
  .middle-section .helpcenter-banner-section .help-center-heading h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .middle-section .how-can-help-section {
    padding: 40px 0;
  }
  .middle-section .how-can-help-section .help-content .heading {
    margin-bottom: 40px;
  }
  .middle-section .how-can-help-section .help-content .content-text p {
    font-size: 20px;
    line-height: 30px;
  }
  .middle-section .how-can-help-section .help-content .btns-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .middle-section .how-can-help-section .help-content .btns-group .btn {
    margin-right: 10px;
  }
  .middle-section .accordian-section {
    padding: 60px 0;
  }
  .middle-section .accordian-section .accordian-content {
    margin-bottom: 30px;
  }
  .middle-section .accordian-section .accordian-content .accordian-heading h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .middle-section .accordian-section .accordian-content .accordian-main .accordion .card .card-header button {
    padding: 10px 30px 10px 20px;
    height: auto;
    font-size: 16px;
    line-height: 26px;
    min-height: unset;
  }
  .middle-section .accordian-section .accordian-content .accordian-main .accordion .card .card-header button::after {
    background-size: 30%;
    right: 3px;
    top: 5px;
  }
  .middle-section .accordian-section .accordian-content .accordian-main .accordion .card .card-body {
    padding: 10px 20px;
  }
  .middle-section .accordian-section .accordian-content .accordian-main .accordion .card .card-body p {
    font-size: 16px;
    line-height: 26px;
  }
  .middle-section .need-morehelp-section {
    padding: 20px 0 30px 0;
  }
  .middle-section .need-morehelp-section .heading h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .middle-section .need-morehelp-section .heading a {
    font-size: 20px;
    line-height: 30px;
  }
  .middle-section .about-banner-section {
    height: 220px;
    background-position: center;
  }
  .middle-section .about-banner-section .about-heading {
    min-height: 220px;
  }
  .middle-section .about-banner-section .about-heading h3 {
    font-size: 30px;
    line-height: 40px;
  }
  .middle-section .about-content-section {
    padding: 60px 0;
  }
  .middle-section .about-content-section .content {
    margin-bottom: 60px;
  }
  .middle-section .about-content-section .content h3 {
    font-size: 22px;
    line-height: 26px;
  }
  .middle-section .about-content-section .content p {
    font-size: 22px;
    line-height: 26px;
  }
  .middle-section .skill-section {
    padding: 60px 0;
  }
  .middle-section .skill-section .skill-list {
    margin-bottom: 40px;
  }
  .middle-section .skill-section .skill-list .skill-img {
    width: 80px;
    min-width: 80px;
  }
  .middle-section .skill-section .skill-list .skill-img img {
    max-width: 50px;
  }
  .middle-section .skill-section .skill-list .max-40 img {
    max-width: 40px;
  }
  .middle-section .skill-section .skill-list .skill-content p {
    font-size: 22px;
    line-height: 26px;
  }
  .middle-section .skill-section .content {
    margin-bottom: 40px;
  }
  .middle-section .skill-section .content P {
    font-size: 22px;
    line-height: 26px;
  }
  .middle-section .excersie-about-section {
    padding: 30px 0;
    overflow: hidden;
  }
  .middle-section .excersie-about-section .content {
    padding: 0 30px;
  }
  .middle-section .excersie-about-section .content p {
    font-size: 20px;
    line-height: 30px;
  }
  .middle-section .excersie-about-section::before {
    height: 100px;
    width: 100px;
    right: -40px;
  }
  .middle-section .excersie-about-section::after {
    height: 100px;
    width: 100px;
    left: -40px;
  }
  .middle-section .room-life-section {
    padding: 60px 0;
  }
  .middle-section .get-in-touch-section .heading {
    margin-bottom: 40px;
  }
  .middle-section .get-in-touch-section .btn-groups {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  .middle-section .get-in-touch-section .btn-groups .btn {
    width: 100%;
    margin-right: 0;
  }
  .footer-section {
    padding-top: 40px;
  }
  .footer-section .social-media {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .footer-section .footer-content ul {
    margin-bottom: 0;
  }
  .footer-section .footer-content ul li {
    width: 100%;
    margin-bottom: 5px;
  }
  .footer-section .footer-content ul li a {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .footer-section .footer-content-link {
    padding: 20px 0 0 0;
  }
  .footer-section .footer-content {
    margin-bottom: 0;
  }
  .footer-section .copy-right-text {
    padding-bottom: 40px;
  }
  .footer-section .copy-right-text .footer-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-section .copy-right-text .footer-bottom ul li {
    font-size: 18px;
    line-height: 36px;
  }
  .footer-section .copy-right-text .footer-bottom ul li a {
    font-size: 18px;
    line-height: 36px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .middle-section .help-school-section {
    width: 100%;
  }
  .middle-section .help-school-section .help-school-tabs ul.nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .middle-section .help-school-section .help-school-tabs ul.nav-tabs li {
    margin-right: 10px;
  }
  .middle-section .help-school-section .help-school-tabs ul.nav-tabs li a {
    font-size: 16px;
    line-height: 20px;
    height: 50px;
    max-width: unset;
    min-width: unset;
    margin-right: 0px;
  }
  .middle-section .help-school-section .help-school-tabs ul.nav-tabs li a:hover {
    background-color: #652d90;
  }
}

/* Portrait */
@media (min-width: 768px) and (max-width: 1024px) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .navbar-brand {
    width: 155px;
    height: auto;
  }
  .header .navbar .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-collapse {
    padding: 10px 0;
  }
  .header .navbar .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-left: 0 !important;
    width: 100%;
    padding: 0 20px;
  }
  .header .navbar .navbar-collapse .navbar-nav .br-left {
    border: 0;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 0 20px;
    border-bottom: 1px solid rgba(66, 94, 112, 0.03);
    width: 100%;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a {
    padding: 8px 12px;
    font-size: 16px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a::after {
    background-color: #652d90;
    border-color: #652d90;
    left: 12px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    color: #652d90;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-item a.active {
    color: #652d90;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn {
    padding-left: 22px !important;
    margin-top: 10px;
  }
  .header .navbar .navbar-collapse .navbar-nav .nav-btn .btn.btn {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
  }
  .header .navbar .navbar-toggler {
    color: #fff;
    padding: 0;
    outline: 0;
    position: absolute;
    right: 15px;
    top: -20px;
    border: 0;
    display: block;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: transparent;
    background-image: url("../../assets/images/menubar.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: 0;
  }
  .header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu {
    padding: 5px 0;
    right: 0px;
    left: 0;
    position: relative;
    width: 100%;
  }
  .header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a {
    padding: 8px 20px;
    font-size: 18px;
    line-height: 30px;
    height: 40px;
  }
  .header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a .img-menu {
    height: 25px;
    width: 25px;
    min-width: 25px;
    margin-right: 14px;
    display: block;
    margin-top: -10px;
  }
  .header .navbar .collapse1 .navbar-nav .get-started .dropdown-menu a .img-menu img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .user-account {
    padding-right: 60px;
  }
  .user-account ul li a {
    padding: 7px 15px;
    font-size: 22px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 95, 112, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 300px;
    right: -400px;
  }
  .width-menu {
    right: 0;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn img {
    width: 20px;
    height: 20px;
  }
  .closebtn:hover {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  .middle-section {
    padding-top: 70px;
  }
  .middle-section .ourstories-banner-section {
    background-size: 100%;
    background-position: bottom center;
  }
  .middle-section .school-section::after {
    height: 150px;
    width: 150px;
    background-size: 100%;
  }
  .middle-section .about-content-section {
    padding: 70px 0;
  }
  .middle-section .about-content-section .content {
    margin-bottom: 60px;
  }
  .middle-section .about-content-section .content p {
    line-height: 40px;
  }
  .middle-section .skill-section {
    padding: 70px 0;
  }
  .middle-section .skill-section .skill-list {
    margin-bottom: 60px;
  }
  .middle-section .excersie-about-section::before {
    height: 150px;
    width: 150px;
  }
  .middle-section .excersie-about-section::after {
    height: 150px;
    width: 150px;
  }
  .middle-section .excersie-about-section .content {
    padding: 0 30px;
  }
  .middle-section .excersie-section {
    overflow: hidden;
  }
  .middle-section .excersie-section::before {
    height: 150px;
    width: 150px;
  }
  .middle-section .excersie-section::after {
    height: 150px;
    width: 150px;
  }
  .middle-section .excersie-section .content {
    padding: 0 30px;
  }
  .middle-section .better-support-section {
    overflow: hidden;
  }
  .middle-section .better-support-section::before {
    height: 150px;
    width: 150px;
  }
  .middle-section .better-support-section::after {
    height: 150px;
    width: 150px;
  }
  .middle-section .better-support-section .content {
    padding: 0 30px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .middle-section .btn.btn-secondary {
    padding: 12px 30px 15px 30px;
    margin-right: 20px;
  }
  .middle-section .banner-section .banner-left-content {
    margin-bottom: 40px;
  }
  .middle-section .banner-section .banner-right {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .middle-section .banner-section .banner-right img {
    max-width: 500px;
  }
  .middle-section .connect-section .connect-block-row {
    padding: 70px 0;
  }
  .middle-section .connect-section .connect-block-row .connect-content h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .middle-section .help-school-section .help-school-tabs .nav-tabs {
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .middle-section .feature-section {
    overflow: hidden;
  }
  .middle-section .feature-section .feature-card .feature-body p {
    line-height: 30px;
  }
  .footer-section .footer-content ul li {
    width: 100%;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 8px 15px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 10px !important;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
  .middle-section .banner-section {
    padding: 50px;
  }
  .middle-section .banner-section .banner-left-content h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .middle-section .banner-section .banner-left-content .banner-btn {
    padding: 40px 0;
  }
  .middle-section .banner-section .banner-right {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* ----------- iPad Pro ----------- */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .middle-section .home-banner-section .banner-box {
    margin: 0 0 130px 0;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}
/*# sourceMappingURL=custom.css.map */