@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("../css/font-awesome.min.css");
@import url("../fonts/Omnes/Omnes-stylesheet.css");
@import url("../css/animate.css");

:root {
  font-family: "Omnes" !important;
}

body {
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Omnes" !important;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  line-height: 32px;
}

p.big {
  font-size: 20px;
  line-height: 32px;
}

p.small {
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3f3f44;
}

h1 {
  font-size: 54px;
  line-height: 62px;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  line-height: 56px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
}

label {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
  font-size: 16px;
  line-height: 32px;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

.no-pointer-event {
  pointer-events: none;
}

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type="number"] {
//   -moz-appearance: textfield;
// }

/*   normalize  */

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.btn.btn-primary {
  height: 50px;
  color: rgb(101, 45, 144) !important;
  background-color: #fff !important;
  border-color: rgb(101, 45, 144) !important;
  font-size: 24px;
  line-height: 24px;
  border-radius: 100px;
  font-weight: 600;
  padding: 12px 40px 13px 40px;
  font-weight: 500;
  letter-spacing: 0.58px;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
    transform: translateY(-3px);
  }
}

.btn.btn-secondary {
  height: 60px;
  color: #fff !important;
  background-color: rgb(101, 45, 144) !important;
  border-color: rgb(101, 45, 144) !important;
  border-radius: 100px;
  font-size: 24px;
  line-height: 36px;
  padding: 12px 40px 15px 40px;
  font-weight: 500;
  letter-spacing: 0.58px;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 3px 15px 0 rgba(101, 45, 144, 0.3);
    transform: translateY(-3px);
  }
}

.btn-pad-60 {
  padding: 12px 60px !important;
}

.btn-pad-45 {
  padding: 12px 45px !important;
}

.btn-full {
  width: 100%;
}

.social-svg-icon {
  margin: 0 auto;
  padding: 0;
  width: 22px;
  height: 22px;
  display: block;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #3f3f44;

  &:hover {
    background-color: #652d90;
  }
}

.instagram-icon {
  -webkit-mask: url(../images/social/instagram.svg) no-repeat 100% 100%;
  mask: url(../images/social/instagram.svg) no-repeat 100% 100%;
  width: 22px;
  height: 22px;
}

.facebook-icon {
  -webkit-mask: url(../images/social/facebook.svg) no-repeat 100% 100%;
  mask: url(../images/social/facebook.svg) no-repeat 100% 100%;
  width: 12px;
  height: 23px;
}

.twitter-icon {
  -webkit-mask: url(../images/social/twitter.svg) no-repeat 100% 100%;
  mask: url(../images/social/twitter.svg) no-repeat 100% 100%;
  width: 26px;
  height: 22px;
}

.linkedin-icon {
  -webkit-mask: url(../images/social/linked-in.svg) no-repeat 100% 100%;
  mask: url(../images/social/linked-in.svg) no-repeat 100% 100%;
  width: 22px;
  height: 22px;
}

.custom-checkbox {
  padding-left: 30px;

  .custom-control-label {
    font-weight: 400;
    color: #333;
    font-size: 16px;
    line-height: 17px;

    &::before {
      top: 7px;
      width: 20px;
      height: 20px;
      left: -30px;
    }

    &::after {
      top: 7px;
      width: 20px;
      height: 20px;
      left: -30px;
    }

    a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      color: #000;
    }
  }
}

.custom-control-input {
  &:checked {
    & ~ .custom-control-label {
      &::before {
        background-color: #000;
        border-color: #000;
      }
    }
  }
}

/* ############################ header section ############################### */

.fixed-top {
  background-color: #fff !important;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
  height: 100px;
  position: relative;

  .page-title {
    display: none;
  }

  .col-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-30 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .col-70 {
      flex: 0 0 80%;
      max-width: 80%;
    }
  }

  .row-100 {
    width: 100%;
    margin: 0;

    .col-12 {
      padding: 0;
    }
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    height: 100px;
    background-color: #fff;
    white-space: nowrap;
    z-index: 999;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid rgba(236, 236, 236, 0.6);

    .navbar-brand {
      width: 180px;
      height: auto;
      position: unset;

      img {
        width: 100%;
      }
    }

    .collapse1 {
      height: 100%;

      .navbar-nav {
        align-items: center;

        .br-left {
          border-left: 2px solid #3f3f44;
        }

        .nav-item {
          a {
            color: #3f3f44;
            font-size: 20px;
            letter-spacing: 0.58px;
            line-height: 27px;
            padding: 6px 20px;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            position: relative;

            &::after {
              content: "";
              height: 2px;
              background-color: #652d90;
              position: absolute;
              bottom: 0;
              left: 20px;
              width: 0;
              transition: all 0.5s ease-in-out;
              opacity: 0;
            }

            &:hover {
              transition: all 0.2s ease-in-out;
              color: #652d90;

              &::after {
                width: 22px;
                transition: all 0.5s ease-in-out;
                opacity: 1;
              }
            }
          }

          a.active {
            transition: all 0.4s ease-in-out;
            color: #652d90;

            &::after {
              width: 22px;
              opacity: 1;
            }
          }
        }

        .nav-btn {
          padding-left: 20px !important;

          a.btn {
            font-size: 20px;
            line-height: 32px;
            border-radius: 4px;
            background-color: #652d90 !important;
            padding: 8px 40px !important;
            color: #fff !important;
            border-radius: 100px;
            border: 1px solid #652d90;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}

.header .navbar .collapse1 .navbar-nav .get-started {
  position: relative;

  .dropdown-menu {
    padding: 10px 0;
    background: #ffffff;
    border: 1px solid #652d90;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    border-radius: 12px;
    right: 0;
    left: auto;
    margin-top: 20px;
    overflow: hidden;

    a {
      padding: 8px 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 24px;
      line-height: 40px;
      letter-spacing: 0.34px;
      color: #6f3996;
      background-color: #ffffff;
      font-weight: 500;
      transition: all 0.8s;
      height: 64px;

      &::after {
        display: none;
      }

      .img-menu {
        height: 40px;
        width: 40px;
        min-width: 40px;
        margin-right: 14px;
        display: block;
        margin-top: -8px;

        img {
          height: auto;
          width: 100%;
          object-fit: cover;
        }
      }

      &:hover {
        background-color: #f4f0f7;
      }
    }
  }
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-account {
  padding-left: 10px;

  ul {
    list-style: none;
    display: inline-block;

    li {
      display: inline-block;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 22px;
        padding: 8px 20px 0px 20px;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

/* menu responsive */

.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #dadada;
    height: 48px;
    background-color: #fff;
    font-size: 16px;
    box-shadow: none;
    outline: 0;
    padding: 14px 16px;
    border-radius: 12px;

    &:focus {
      border-color: #000;
      color: #000;
    }
  }
}

.input-group {
  .input-group-addon {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 99;

    a {
      text-decoration: none;
      color: #727272;
    }

    i {
      font-size: 20px;
    }
  }

  .form-control {
    padding-right: 40px;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #000 !important;
  color: #fff;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  border: 0;
}

.select2-container--default .select2-selection--single {
  outline: 0;
  height: 48px !important;
  border: 1px solid #dadada !important;
  border-radius: 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 0 solid #dadada;
  height: 46px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 16px;
  line-height: 48px !important;
  font-weight: 500;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px !important;
  width: 30px !important;

  b {
    border-color: #333 transparent transparent transparent !important;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #333 transparent !important;
  border-width: 0 4px 5px 4px;
}

/*  middle section start here */

.inner-page {
  padding-top: 0;
}

@mixin heading {
  h3 {
    font-size: 32px;
    line-height: 36px;
    color: #3f3f44;
    text-align: center;
    font-weight: 600;
  }

  @media (max-width: 767px) {
    h3 {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

@mixin heading-2 {
  h3 {
    font-size: 28px;
    line-height: 40px;
    color: #3f3f44;
    text-align: center;
    font-weight: 400;

    strong {
      font-weight: 600;
    }
  }

  @media (max-width: 767px) {
    h3 {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.middle-section {
  height: auto;
  padding-top: 100px;

  .no-gutter {
    padding: 0 !important;

    .row {
      .no-pad {
        padding: 0 !important;
      }
    }
  }

  // banner-section

  .banner-section {
    padding: 70px 0 55px 0;
    background-color: #652d90;

    .banner-left-content {
      padding-top: 70px;

      h2 {
        font-size: 58px;
        line-height: 60px;
        letter-spacing: 1.39px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 45px;
      }

      p {
        color: #fff;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.77px;
      }

      .banner-btn {
        padding: 110px 0 0 0;
      }
    }
  }

  .learn-more-section {
    padding: 155px 0 64px 0;
    background-color: #fcfaf6;

    .learn-more-card {
      .learn-more-img {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 250px;
        margin-bottom: 50px;

        img {
          width: 100%;
          object-fit: contain;
          max-width: 205px;
          margin: 0 auto;
        }
      }

      .learn-more-content {
        margin-bottom: 98px;

        h3 {
          font-size: 32px;
          line-height: 34px;
          color: #3f3f44;
          font-weight: 600;
          letter-spacing: 0.54px;
          text-align: center;
        }

        p {
          font-size: 24px;
          line-height: 30px;
          color: #3f3f44;
          font-weight: 400;
          text-align: center;
        }
      }
    }

    .learmore-div {
      text-align: center;
    }
  }

  .connect-section {
    padding: 120px 0;

    .heading {
      @include heading();
    }

    .connect-content {
      max-width: 451px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      h3 {
        color: #3f3f44;
        font-size: 58px;
        line-height: 60px;
        font-weight: 600;
      }

      p {
        font-size: 28px;
        line-height: 32px;
        color: #3f3f44;
        margin-bottom: 34px;
      }
    }

    .connect-block-row {
      padding: 160px 0;
      display: block;
    }

    .connect-even {
      .connect-content {
        margin: 0 0 0 auto;
        align-items: flex-start;
      }
    }
  }

  .student-express-section {
    background-color: #fcfaf6;
    padding: 35px 0;

    .heading {
      margin-bottom: 80px;
      @include heading();
    }

    .our-student {
      text-align: center;
      max-width: 300px;
      margin: 0 auto;

      .feeling-img {
        margin-bottom: 20px;
        text-align: center;
        min-height: 100px;

        img {
          width: 70px;
          height: auto;
          margin: 0 auto;
        }
      }

      h3 {
        font-size: 24px;
        line-height: 32px;
        color: #3f3f44;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
        font-weight: 600;

        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          height: 2px;
          width: 39px;
          background-color: rgba(63, 63, 68, 0.2);
          margin: 0 auto;
        }
      }

      p {
        font-size: 20px;
        color: rgba(63, 63, 68, 0.5);
        line-height: 26px;
      }
    }

    .owl-theme {
      .owl-dots {
        align-items: center;
        display: flex;
        justify-content: center;

        .owl-dot {
          box-shadow: none;
          outline: 0;

          span {
            width: 6px;
            height: 6px;
          }
        }

        .owl-dot.active {
          box-shadow: none;
          outline: 0;

          span {
            width: 10px;
            height: 10px;
            background-color: #652d90 !important;
          }
        }
      }
    }
  }

  .student-support-section {
    padding: 114px 0;
    background-color: #fff;

    .heading {
      margin-bottom: 116px;
      @include heading();
    }

    .support-student-img {
      margin-bottom: 100px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .suport-student-content {
      max-width: 670px;
      width: 100%;
      text-align: center;
      margin: 0 auto;

      h3 {
        font-size: 58px;
        line-height: 60px;
        color: #3f3f44;
        font-weight: 600;
      }

      p {
        font-size: 28px;
        color: #3f3f44;
        line-height: 32px;
        margin-bottom: 38px;
      }
    }
  }

  .our-educator-section {
    background-color: #fcfaf6;
    padding: 45px 0;

    .our-educator-inner {
      .heading {
        margin-bottom: 80px;

        @include heading();
      }

      .our-educator {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;

        .teacher-img {
          margin-bottom: 20px;
          text-align: center;
          min-height: 100px;

          img {
            width: 96px;
            height: 96px;
            margin: 0 auto;
          }
        }

        h3 {
          font-size: 24px;
          line-height: 32px;
          color: #3f3f44;
          padding-bottom: 20px;
          margin-bottom: 20px;
          position: relative;
          font-weight: 600;

          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            height: 2px;
            width: 39px;
            background-color: rgba(63, 63, 68, 0.2);
            margin: 0 auto;
          }
        }

        p {
          font-size: 20px;
          color: rgba(63, 63, 68, 0.5);
          line-height: 26px;
        }
      }

      .owl-theme {
        .owl-dots {
          align-items: center;
          display: flex;
          justify-content: center;

          .owl-dot {
            box-shadow: none;
            outline: 0;

            span {
              width: 6px;
              height: 6px;
            }
          }

          .owl-dot.active {
            box-shadow: none;
            outline: 0;

            span {
              width: 10px;
              height: 10px;
              background-color: #652d90 !important;
            }
          }
        }
      }
    }
  }

  .ready-to-started-section {
    padding: 120px 0 60px 0;
    background-color: #fcfaf6;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;

    .heading {
      margin-bottom: 90px;

      @include heading();
    }

    .btns-group {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        margin: 0 10px;
      }
    }
  }

  // innner page

  .learnmore-banner-section {
    background-color: #ffac00;
    height: 320px;
    background-image: url(../images/banner-learn-more.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    .leanmore-circle {
      position: relative;
      text-align: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 320px;

      a {
        font-size: 48px;
        line-height: 50px;
        color: #fff;
        z-index: 5;
        position: relative;
        letter-spacing: 1.39px;
        font-weight: 600;
      }

      &::after {
        content: "";
        width: 414px;
        height: 270px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        margin: 0 auto;
        z-index: 2;
        background-image: url(../images/shap-lernmore.png);
      }
    }
  }

  .insight-section {
    padding: 40px 0;
    background-color: #fcfaf6;

    .heading {
      @include heading-2();
      margin-bottom: 100px;
      h3 {
        line-height: 50px;
      }
    }

    .insight-img {
      max-width: 334px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 94px;

      img {
        width: 100%;
      }
    }

    .heading-2 {
      @include heading-2();
      margin-bottom: 70px;
    }

    .btns-group {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .feature-section {
    padding: 145px 0;
    background-color: #fff;
    min-height: 630px;
    padding: 50px 0;

    .feature-card.time {
      border: 2px solid #6bcd83;
    }

    .feature-card.culture {
      border: 2px solid #ffac00;
    }

    .feature-card.tracking {
      border: 2px solid #6599fe;
    }

    .feature-card.comfort {
      border: 2px solid #7dcdf8;
    }

    .feature-card.confidence {
      border: 2px solid #f77d2c;
    }

    .feature-card.stigma {
      border: 2px solid #ef659f;
    }

    .owl-item.center {
      .feature-card {
        margin-top: 50px;
        transform: scale(1.2);
        margin-bottom: 50px;
        min-height: 420px;
        transition: all 0.3s;

        .feature-body {
          p {
            -webkit-line-clamp: 5;
            min-height: 120px;
            transition: all 0.3s;
          }
        }
      }
    }

    .feature-card {
      border-radius: 13px;
      margin: 80px 0;
      min-height: 340px;
      max-height: 340px;

      .feature-body {
        padding: 60px 20px 20px 20px;
        text-align: center;

        h4 {
          font-size: 24px;
          line-height: 46px;
          font-weight: 600;
          margin-bottom: 20px;
          color: #3f3f44;
        }
        p {
          font-size: 20px;
          line-height: 32px;
          color: #3f3f44;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          display: -webkit-box;
          max-width: 100%;
        }
      }

      .feature-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 10px;

        img {
          object-fit: contain;
          width: auto;
          max-width: 100px;
        }

        .max-70 {
          max-width: 70px;
          position: relative;
          top: -5px;
        }
      }
    }

    .owl-theme {
      .owl-nav {
        position: absolute;
        top: calc(50% - 50px);
        right: 0;
        left: 0;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .owl-prev {
          left: -30px;
          position: absolute;
          transform: rotate(-90deg);
          color: #fff;

          i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 6px 0 0 0;
          }
        }
      }

      .owl-next {
        right: -30px;
        position: absolute;
        transform: rotate(-270deg);
        color: #fff;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0 -6px 0px;
        }
      }

      button {
        height: 26px;
        width: 26px;
        border: 1px solid#652D90;
        background-color: #652d90;
        border-radius: 100%;
        box-shadow: none;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        transition: all 0.3s;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
        }

        &:hover {
          border: 1px solid#652D90;
          background-color: #652d90;
          color: #fff;
        }
      }
    }
  }

  .student-section {
    padding: 60px 0;

    .heading {
      h3 {
        font-size: 58px;
        line-height: 60px;
        font-weight: 600;
      }
    }

    .card-student {
      background-color: #fcfaf6;
      padding: 50px;
      border-radius: 13px;

      .heading {
        @include heading-2();
        margin-bottom: 83px;
      }

      .img-feeling {
        margin: 0;
        text-align: center;
        margin-bottom: 80px;

        img {
          max-width: 373px;
          width: 100%;
        }
      }

      .heading-2 {
        @include heading-2();
      }
    }

    .btn-groups {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 80px 0;

      .btn {
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .youhue-div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      padding: 100px 0;

      img {
        width: 58px;
      }
    }
  }

  .excersie-section {
    padding: 100px 0;
    background-color: #fff;
    position: relative;

    &::after {
      content: "";
      background-image: url(../images/exc-smile.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: -50px;
      top: 20%;
      height: 212px;
      width: 212px;
      z-index: 2;
    }

    &::before {
      content: "";
      background-image: url(../images/exc-confused.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: -50px;
      top: 20%;
      height: 212px;
      width: 212px;
      z-index: 2;
    }

    .content {
      p {
        font-size: 28px;
        line-height: 40px;
        font-weight: 500;
        color: #000;
        text-align: center;
      }
    }
  }

  .educator-section {
    padding: 60px 0;

    .heading {
      h3 {
        font-size: 58px;
        line-height: 60px;
        font-weight: 600;
      }
    }

    .card-educator {
      background-color: #fcfaf6;
      padding: 50px;
      border-radius: 13px;

      .heading {
        @include heading-2();
        margin-bottom: 83px;
      }

      .img-feeling {
        margin: 0;
        text-align: center;
        margin-bottom: 80px;

        img {
          max-width: 373px;
          width: 100%;
        }
      }

      .max-880 {
        img {
          max-width: 880px;
          width: 100%;
        }
      }

      .heading-2 {
        @include heading-2();
      }
    }

    .btn-groups {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 80px 0;

      .btn {
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .youhue-div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      padding: 100px 0;

      img {
        width: 58px;
      }
    }
  }

  .better-support-section {
    padding: 100px 0;
    background-color: #fff;
    position: relative;

    &::after {
      content: "";
      background-image: url(../images/romantic.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: -50px;
      top: 20%;
      height: 212px;
      width: 212px;
      z-index: 2;
    }

    &::before {
      content: "";
      background-image: url(../images/angry.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: -50px;
      top: 20%;
      height: 212px;
      width: 212px;
      z-index: 2;
    }

    .content {
      p {
        font-size: 28px;
        line-height: 40px;
        font-weight: 500;
        color: #000;
        text-align: center;
      }
    }
  }

  .ourstories-banner-section {
    background-color: #b0360b;
    height: 320px;
    background-image: url(../images/banner-school-stories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .ourstories-heading {
      position: relative;
      text-align: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 320px;

      h3 {
        font-size: 48px;
        line-height: 50px;
        color: #fff;
        z-index: 5;
        position: relative;
        letter-spacing: 1.39px;
        font-weight: 600;
      }
    }
  }

  .self-report-section {
    padding: 85px 0;
    background-color: #fcfaf6;

    .heading {
      @include heading();
      margin-bottom: 53px;
      color: #000;
    }

    .heading-2 {
      @include heading-2();
      margin-bottom: 56px;
      color: #000;
      font-weight: 400;
    }

    .self-report-image {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 286px;
        width: 100%;
      }
    }
  }

  .school-section {
    padding: 120px 0 0 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      width: 220px;
      background-image: url(../images/calm.png);
      background-position: center;
      background-repeat: no-repeat;
      height: 220px;
      position: absolute;
      right: -50px;
      bottom: 10px;
      z-index: 99;
    }

    .heading {
      @include heading();
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 60px;

      img {
        height: 44px;
        width: 44px;
        margin-right: 20px;
      }

      h3 {
        margin-bottom: 0;
        text-align: left;
      }
    }

    .heading-2 {
      @include heading-2();
    }

    .quote-box {
      margin-bottom: 100px;

      .quote-img {
        padding: 50px 0;
        height: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 67px;
        }
      }

      .quote-text {
        max-width: 1000px;
        margin: 0 auto 70px auto;

        p {
          font-size: 28px;
          line-height: 40px;
          color: #000;
          text-align: center;
          font-weight: 400;
        }
      }

      .quote-action {
        text-align: center;

        a {
          text-align: center;
          font-size: 24px;
          line-height: 40px;
          font-weight: 500;
          color: #3f3f44;

          &:hover {
            color: #000;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .two {
    &::after {
      left: -50px;
      background-image: url("../images/Stressed.png");
    }
  }

  .three {
    &::after {
      right: -50px;
      background-image: url("../images/indifferent.png");
    }
  }

  .help-school-section {
    padding: 110px 0;

    .heading {
      @include heading();
      margin-bottom: 83px;
    }

    .help-school-tabs {
      width: 100%;

      .nav-tabs {
        border: 0;
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
        bottom: -30px;
        z-index: 22;

        li {
          display: inline-block;

          a {
            position: relative;
            background-color: #844caf;
            color: #fff;
            font-size: 24px;
            line-height: 26px;
            font-weight: 500;
            letter-spacing: 0.58px;
            margin: 0 10px;
            padding: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            border-radius: 29px;
            border: 0;
            max-width: 210px;
            min-width: 210px;
            width: 100%;

            &:hover {
              background-color: #652d90;
            }

            &.active {
              background-color: #652d90;
            }
          }
        }
      }

      .tab-content {
        border-radius: 100px;
        overflow: hidden;
        margin-bottom: 50px;

        .content-inner {
          padding: 190px 75px 100px 75px;
        }

        .bg-yellow {
          background-color: rgba(255, 172, 0, 0.25);
        }

        .bg-green {
          background-color: rgba(107, 205, 131, 0.25);
        }

        .bg-pink {
          background-color: rgba(239, 101, 159, 0.25);
        }

        .bg-orange {
          background-color: rgba(247, 125, 44, 0.25);
        }

        .content-img {
          margin: 0 auto;
          text-align: center;

          img {
            width: auto;
            height: auto;
            object-fit: contain;
          }
        }

        .content {
          P {
            font-size: 32px;
            line-height: 40px;
            color: #000;
            font-weight: 400;
            text-align: center;
          }
        }
      }
    }

    .learnmore-action {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }

  .contact-us-section {
    background-color: #299d35;
    height: 320px;
    background-image: url(../images/bg-conatct.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .contact-us-heading {
      position: relative;
      text-align: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 320px;

      h3 {
        font-size: 48px;
        line-height: 50px;
        color: #fff;
        z-index: 5;
        position: relative;
        letter-spacing: 1.39px;
        font-weight: 600;
      }
    }
  }

  .qna-section {
    padding: 85px 0 52px 0;
    background-color: #fcfaf6;

    .content {
      h3 {
        font-size: 32px;
        line-height: 46px;
        color: #000;
        font-weight: 500;
        text-align: center;
      }
    }
  }

  .contact-form-section {
    padding: 105px 0;
    background-color: #fff;

    .heading {
      @include heading();
      margin-bottom: 60px;
    }

    .conatct-form {
      .form-group {
        margin-bottom: 38px;

        .form-control {
          height: 84px;
          width: 100%;
          font-size: 28px;
          line-height: 51px;
          border-radius: 8px;
          border: 1px solid #a895a0;
          font-weight: 400;
          color: #3f3f44;
        }

        textarea.form-control {
          height: 400px;
          width: 100%;
          font-size: 28px;
          line-height: 51px;
          border-radius: 8px;
          border: 1px solid #a895a0;
          font-weight: 400;
          color: #3f3f44;
        }
      }
    }
  }

  .helpcenter-banner-section {
    background-color: #ef659f;
    height: 320px;
    background-image: url(../images/bg-help-center.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .help-center-heading {
      position: relative;
      text-align: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 320px;

      h3 {
        font-size: 48px;
        line-height: 50px;
        color: #fff;
        z-index: 5;
        position: relative;
        letter-spacing: 1.39px;
        font-weight: 600;
      }
    }
  }

  .how-can-help-section {
    padding: 85px 0 52px 0;
    background-color: #fcfaf6;
    .help-content {
      text-align: center;

      .heading {
        @include heading();
        color: #3f3f44;
        margin-bottom: 72px;
      }

      .content-text {
        margin-bottom: 50px;
        p {
          font-size: 28px;
          line-height: 40px;
          color: #000;
          text-align: center;
          font-weight: 400;
        }
      }

      .btns-group {
        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
          margin-right: 25px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .accordian-section {
    padding: 120px 0;
    background-color: #fff;

    .accordian-content {
      margin-bottom: 100px;

      .accordian-heading {
        h3 {
          font-size: 36px;
          line-height: 40px;
          font-weight: 600;
          margin-bottom: 20px;
          color: #000;
        }
      }

      .accordian-main {
        .accordion {
          .card {
            border: 0;
            margin-bottom: 5px;

            .card-header {
              padding: 0;
              border: 0;

              button {
                background-color: #fcfaf6;
                border-radius: 6px;
                font-size: 28px;
                line-height: 40px;
                color: #373c51;
                text-decoration: none;
                font-weight: 400;
                min-height: 84px;
                width: 100%;
                padding: 20px 45px;
                position: relative;

                &:after {
                  content: "";
                  background-image: url(../images/arrow-accordian.png);
                  background-position: center;
                  background-repeat: no-repeat;
                  position: absolute;
                  right: 20px;
                  top: auto;
                  height: 40px;
                  width: 30px;
                  transition: all 0.4s;
                }
              }

              button[aria-expanded="true"] {
                &::after {
                  transition: all 0.4s;
                  transform: rotate(90deg);
                }
              }
            }

            .card-body {
              border: 0;
              background-color: #fcfaf6;
              padding: 20px 45px;

              p {
                font-size: 24px;
                line-height: 36px;
                color: #373c51;
              }
            }
          }
        }
      }
    }
  }

  .need-morehelp-section {
    padding: 20px 0 90px 0;

    .heading {
      h3 {
        font-size: 28px;
        line-height: 40px;
        color: #3f3f44;
        font-weight: 400;
        text-align: center;
      }

      a {
        font-size: 28px;
        line-height: 40px;
        color: #3f3f44;
        text-decoration: underline;
      }
    }
  }

  .about-banner-section {
    background-color: #e25674;
    height: 320px;
    background-image: url(../images/bg-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .about-heading {
      position: relative;
      text-align: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 320px;

      h3 {
        font-size: 48px;
        line-height: 50px;
        color: #fff;
        z-index: 5;
        position: relative;
        letter-spacing: 1.39px;
        font-weight: 600;
      }
    }
  }

  .about-content-section {
    padding: 87px 0;
    background-color: #fcfaf6;

    .content {
      margin-bottom: 150px;

      h3 {
        font-size: 32px;
        line-height: 36px;
        color: #3f3f44;
        text-align: center;
        font-weight: 600;
        margin-bottom: 45px;
      }

      p {
        line-height: 50px;
        font-size: 28px;
        color: #000000;
        text-align: center;
      }
    }

    .content-img {
      margin-bottom: 100px;
    }
  }

  .skill-section {
    padding: 114px 0;
    background-color: #fff;

    .skill-list {
      padding-left: 100px;
      position: relative;
      margin-bottom: 85px;

      .skill-img {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100px;
        height: auto;
        min-width: 100px;
        min-height: 120px;
        padding-top: 10px;

        img {
          width: auto;
          height: auto;
        }
      }

      .skill-content {
        p {
          line-height: 40px;
          font-size: 28px;
          color: #000000;
          text-align: left;
          font-weight: 400;
        }
      }
    }

    .content {
      margin-bottom: 145px;
      P {
        line-height: 40px;
        font-size: 28px;
        color: #000000;
        text-align: center;
        font-weight: 400;
      }
    }
  }

  .excersie-about-section {
    padding: 100px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      background-image: url(../images/happy.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: -50px;
      top: 20%;
      height: 212px;
      width: 212px;
      z-index: 2;
    }

    &::before {
      content: "";
      background-image: url(../images/sad.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: -50px;
      top: 20%;
      height: 212px;
      width: 212px;
      z-index: 2;
    }
    .content {
      p {
        font-size: 28px;
        line-height: 40px;
        font-weight: 500;
        color: #000;
        text-align: center;
      }
    }
  }

  .room-life-section {
    padding: 120px 0;
    background-color: #fff;

    .room-life-content {
      .content {
        @include heading-2();
        margin-bottom: 75px;
      }

      .room-life-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 75px;

        img {
          max-width: 375px;
          margin: 0 auto;
        }
      }

      .btn-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
      }
    }
  }

  .get-in-touch-section {
    padding: 36px 0 50px 0;
    background-color: #fcfaf6;

    .heading {
      @include heading();
      margin-bottom: 90px;
    }

    .btn-groups {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .btn {
        margin-right: 25px;
        margin-bottom: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.footer-section {
  padding: 48px 0 0 0;
  background-color: #fcfaf6;

  .footer-content-link {
    padding: 20px 0 0 0;
  }

  .footer-content {
    margin-bottom: 50px;

    h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      color: #3f3f44;
      text-transform: uppercase;
      margin-bottom: 15px;
      text-align: center;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 20px;
        line-height: 30px;
        display: inline-block;
        width: 100%;
        color: #3f3f44;

        a {
          display: block;
          color: #3f3f44;
          font-size: 20px;
          line-height: 30px;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          word-break: break-all;
          position: relative;
          text-align: center;

          &:hover {
            transition: all 0.5s ease-in-out;
            color: #000;
          }
        }
      }
    }
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 10px auto;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        display: inline-block;
        margin-right: 25px;
        width: auto;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #3f3f44;
          background-color: transparent;
          border: 1px solid rgba(180, 180, 180, 0);
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          font-size: 24px;

          &:hover {
            transition: all 0.5s ease-in-out;
            border: 1px solid rgba(180, 180, 180, 0);
            color: #fff;
          }
        }
      }
    }
  }

  .copy-right-text {
    padding: 20px 0 20px 0;

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.5);
      margin-left: 22px;
    }

    .footer-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 0;
        color: rgba(255, 255, 255, 1);
        margin-left: 22px;
        text-align: center;
      }

      ul {
        width: 100%;
        text-align: center;

        li {
          display: inline-block;
          margin: 0 40px;
          color: #3f3f44;
          font-size: 20px;
          line-height: 24px;
          text-align: center;

          a {
            color: #3f3f44;
            font-size: 20px;
            line-height: 24px;
            text-align: center;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
}

button.mfp-close,
button.mfp-arrow {
  box-shadow: none;
  outline: 0;
}

// popop



/* ###########################################################################
############################## media query started ###############################
###################################################################################### */

@media (max-width: 320px) {
  .btn-pad-60 {
    padding: 12px 30px !important;
  }

  .header .page-title a {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .btn.btn-secondary {
    height: 50px;
    font-size: 16px;
    line-height: 26px;
    padding: 12px 30px;
  }

  .header .navbar .collapse1 .navbar-nav .get-started {
    .dropdown-menu {
      padding: 5px 0;

      a {
        padding: 8px 20px;
        font-size: 18px;
        line-height: 30px;
        height: 40px;

        .img-menu {
          height: 25px;
          width: 25px;
          min-width: 25px;
          margin-right: 14px;
          display: block;
          margin-top: -10px;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .header {
    .page-title {
      display: none !important;
      position: absolute;
      left: 110px;
      top: -22px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      a {
        color: #fff;
        max-width: 100px;
        display: block;
        white-space: normal;
        line-height: 20px;
      }
    }

    .navbar {
      padding: 15px 0;
      z-index: 999;
      height: 75px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 140px !important;
        height: auto;
        padding: 0;
        position: relative;
        z-index: 9;
        top: 0;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          padding: 0 20px;

          .br-left {
            border: 0;
          }

          .nav-item {
            padding: 0 20px;
            border-bottom: 1px solid rgba(66, 94, 112, 0.03);
            width: 100%;

            a {
              padding: 8px 12px;
              font-size: 16px;

              &::after {
                background-color: #652d90;
                border-color: #652d90;
                left: 12px;
              }

              &:hover {
                color: #652d90;
              }

              &.active {
                color: #652d90;
              }
            }
          }

          .nav-btn {
            padding-left: 22px !important;
            margin-top: 10px;

            .btn.btn {
              height: 40px;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        position: absolute;
        right: 15px;
        top: -20px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 40px;
          width: 40px;
          border: 0;
        }
      }
    }
  }

  .user-account {
    padding-right: 60px;

    ul {
      li {
        a {
          padding: 7px 10px;
          font-size: 20px;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(101, 45, 144, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    right: -400px;
  }

  .width-menu {
    // width: 70%;
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 22px;
      height: 22px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  /* middle section start here */

  .middle-section {
    padding-top: 75px;

    .banner-section {
      padding: 60px 0;

      .banner-left-content {
        padding: 0;

        h2 {
          font-size: 28px;
          line-height: 34px;
          margin-bottom: 20px;
        }

        p {
          font-size: 22px;
          line-height: 30px;
        }

        .banner-btn {
          padding: 30px 0;

          .btn {
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }

    .learn-more-section {
      padding: 60px 0;

      .learn-more-card {
        .learn-more-img {
          height: auto;
          margin-bottom: 20px;

          img {
            max-width: 150px;
          }
        }

        .learn-more-content {
          margin-bottom: 30px;

          h3 {
            font-size: 20px;
            line-height: 26px;
          }

          p {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }

    .connect-section {
      padding: 60px 0;

      .connect-block-row {
        padding: 30px 0;
      }

      .connect-content {
        h3 {
          font-size: 24px;
          line-height: 30px;
        }

        p {
          font-size: 20px;
          line-height: 24px;
        }

        .btn {
          margin-bottom: 20px;
        }
      }

      .connect-img {
        img {
          width: 100%;
        }
      }

      .connect-even {
        .row {
          flex-direction: column-reverse;
        }
      }
    }

    .student-support-section {
      padding: 60px 0;

      .heading {
        margin-bottom: 60px;
      }

      .suport-student-content {
        h3 {
          font-size: 26px;
          line-height: 32px;
        }

        p {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }

   .ready-to-started-section {
      padding: 60px 0;
      overflow: hidden;

      .heading {
        margin-bottom: 40px;
      }

      .btns-group {
        flex-direction: column;

        .btn {
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }

    .learnmore-banner-section {
      height: 220px;
      background-size: 100%;

      .leanmore-circle {
        min-height: 220px;
        padding-top: 80px;

        a {
          font-size: 24px;
          line-height: 30px;
        }

        &::after {
          width: 207px;
          height: 135px;
          background-size: contain;
        }
      }
    }

    .insight-section {
      .heading {
        margin-bottom: 40px;

        h3 {
          line-height: 30px;
        }
      }

      .insight-img {
        margin-bottom: 40px;
      }

      .heading-2 {
        margin-bottom: 30px;
      }

      .btns-group {
        .btn {
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .feature-section {
      .feature-card {
        min-height: unset;
        max-height: unset;
        margin: 0;

        .feature-body {
          p {
            min-height: 200px;
          }
        }
      }
      .owl-item.center {
        .feature-card {
          margin: 0;
          transform: unset !important;
          min-height: unset;
          max-height: unset;

          .feature-body {
            p {
              min-height: 200px;
            }
          }
        }
      }

      .owl-theme .owl-nav {
        width: 80%;
        margin: 0 auto;
      }
    }

    .student-section {
      padding: 40px 0;

      .heading {
        h3 {
          font-size: 30px;
          line-height: 24px;
          margin-bottom: 20px;
        }
      }

      .card-student {
        padding: 40px 30px;

        .heading {
          margin-bottom: 40px;
        }

        .img-feeling {
          margin-bottom: 40px;
        }
      }

      .youhue-div {
        padding: 40px 0;
      }

      .btn-groups {
        display: flex;
        flex-direction: column;
        padding: 15px 0;

        .btn {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    .excersie-section {
      padding: 30px 0;
      overflow: hidden;

      .content {
        padding: 0 30px;

        p {
          font-size: 20px;
          line-height: 30px;
        }
      }

      &::before {
        height: 100px;
        width: 100px;
      }

      &::after {
        height: 100px;
        width: 100px;
      }
    }

    .educator-section {
      .heading {
        h3 {
          font-size: 30px;
          line-height: 24px;
          margin-bottom: 20px;
        }
      }

      .card-educator {
        padding: 30px 20px;

        .heading {
          margin-bottom: 40px;
        }

        .img-feeling {
          margin-bottom: 30px;
        }
      }

      .youhue-div {
        padding: 50px 0;
      }

      .btn-groups {
        display: flex;
        flex-direction: column;
        padding: 15px 0;

        .btn {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    .better-support-section {
      padding: 40px 0;
      overflow: hidden;

      .content {
        padding: 0 30px;

        p {
          font-size: 20px;
          line-height: 30px;
        }
      }

      &::before {
        height: 100px;
        width: 100px;
      }

      &::after {
        height: 100px;
        width: 100px;
      }
    }

    .ourstories-banner-section {
      height: 220px;
      background-position: center right;

      .ourstories-heading {
        min-height: 220px;

        h3 {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }

    .self-report-section {
      padding: 60px 0;

      .heading {
        margin-bottom: 30px;
      }

      .heading-2 {
        margin-bottom: 30px;
      }

    }

    .school-section {
      padding: 60px 0 0 0;

      &::after {
        height: 100px;
        width: 100px;
        background-size: cover;
        right: -20px;
      }

      .quote-box {
        margin-bottom: 30px;

        .quote-img {
          padding: 20px 0;

          img {
            width: 45px;
          }
        }
        .quote-text {
          margin-bottom: 30px;

          p {
            font-size: 24px;
            line-height: 36px;
          }
        }
      }
    }

    .two {
      &::after {
        left: -20px;
      }
    }

    .three {
      &::after {
        right: -20px;
      }
    }

    .help-school-section {
      padding: 60px 0;
      overflow: hidden;

      .heading {
        margin-bottom: 30px;
      }

      .help-school-tabs {
        ul.nav-tabs {
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          align-items: center;
          justify-content: flex-start;

          li {
            margin-right: 10px;

            a {
              font-size: 16px;
              line-height: 20px;
              height: 50px;
              max-width: unset;
              min-width: unset;
              margin-right: 0px;

              &:hover {
                background-color: #652d90;
              }
            }
          }
        }

        .tab-content {
          padding: 0 10px;

          .content-inner {
            padding: 100px 30px 60px 30px;

            .content-img {
              margin-bottom: 20px;
            }

            .content {
              P {
                font-size: 20px;
                line-height: 30px;
              }
            }
          }
        }
      }
    }

    .contact-us-section {
      height: 220px;
      background-position: center right;

      .contact-us-heading {
        min-height: 220px;

        h3 {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }

    .qna-section {
      padding: 40px 0;

      .content {
        h3 {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .contact-form-section {
      padding: 40px 0;

      .heading {
        margin-bottom: 30px;
      }

      .conatct-form {
        .form-group {
          margin-bottom: 20px;

          .form-control {
            height: 50px;
            font-size: 18px;
            line-height: 30px;
          }

          textarea.form-control {
            height: 200px;
            font-size: 18px;
            line-height: 30px;
          }
        }
      }
    }

    .helpcenter-banner-section {
      height: 220px;
      background-position: center;

      .help-center-heading {
        min-height: 220px;

        h3 {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }

    .how-can-help-section {
      padding: 40px 0;

      .help-content {
        .heading {
          margin-bottom: 40px;
        }

        .content-text {
          p {
            font-size: 20px;
            line-height: 30px;
          }
        }

        .btns-group {
          display: flex;
          align-items: center;

          .btn {
            margin-right: 10px;
          }
        }
      }
    }

    .accordian-section {
      padding: 60px 0;

      .accordian-content {
        margin-bottom: 30px;

        .accordian-heading {
          h3 {
            font-size: 24px;
            line-height: 30px;
          }
        }

        .accordian-main {

          .accordion {
            .card {
              .card-header {
                button {
                  padding: 10px 30px 10px 20px;
                  height: auto;
                  font-size: 16px;
                  line-height: 26px;
                  min-height: unset;

                  &::after {
                    background-size: 30%;
                    right: 3px;
                    top: 5px;
                  }
                }
              }
  
              .card-body {
                padding: 10px 20px;
  
                p {
                  font-size: 16px;
                  line-height: 26px;
                }
              }
            }

          }
        
        }
      }
    }

    .need-morehelp-section {
      padding: 20px 0 30px 0;

      .heading {
        h3 {
          font-size: 20px;
          line-height: 30px;
        }

        a {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .about-banner-section {
      height: 220px;
      background-position: center;

      .about-heading {
        min-height: 220px;

        h3 {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }

    .about-content-section {
      padding: 60px 0;

      .content {
        margin-bottom: 60px;

        h3 {
          font-size: 22px;
          line-height: 26px;
        }

        p {
          font-size: 22px;
          line-height: 26px;
        }
      }
    }

    .skill-section {
      padding: 60px 0;

      .skill-list {
        margin-bottom: 40px;

        .skill-img {
          width: 80px;
          min-width: 80px;

          img {
            max-width: 50px;
          }
        }

        .max-40 {
          img {
            max-width: 40px;
          }
        }

        .skill-content {
          p {
            font-size: 22px;
            line-height: 26px;
          }
        }
      }

      .content {
        margin-bottom: 40px;

        P {
          font-size: 22px;
          line-height: 26px;
        }
      }
    }

    .excersie-about-section {
      padding: 30px 0;
      overflow: hidden;

      .content {
        padding: 0 30px;

        p {
          font-size: 20px;
          line-height: 30px;
        }
      }

      &::before {
        height: 100px;
        width: 100px;
        right: -40px;
      }

      &::after {
        height: 100px;
        width: 100px;
        left: -40px;
      }
    }

    .room-life-section {
      padding: 60px 0;
    }

    .get-in-touch-section {
      .heading {
        margin-bottom: 40px;
      }

      .btn-groups {
        flex-direction: column;
        margin-right: 0;

        .btn {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }

  .footer-section {
    padding-top: 40px;

    .social-media {
      padding-top: 30px;
      margin-bottom: 30px;
    }

    .footer-content ul {
      margin-bottom: 0;

      li {
        width: 100%;
        margin-bottom: 5px;

        a {
          font-size: 18px;
          line-height: 30px;
          text-align: center;
        }
      }
    }

    .footer-content-link {
      padding: 20px 0 0 0;
    }

    .footer-content {
      margin-bottom: 0;
    }

    .copy-right-text {
      padding-bottom: 40px;

      .footer-bottom {
        ul {
          display: flex;
          flex-direction: column-reverse;

          li {
            font-size: 18px;
            line-height: 36px;

            a {
              font-size: 18px;
              line-height: 36px;
            }
          }
        }
      }
    }
  }

  //  modal
}

@media (min-width: 767px) and (max-width: 1024px) {
  // no css

  .middle-section {
    .help-school-section {
      width: 100%;

      .help-school-tabs {
        ul.nav-tabs {
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          align-items: center;
          justify-content: center;
          width: 100%;

          li {
            margin-right: 10px;

            a {
              font-size: 16px;
              line-height: 20px;
              height: 50px;
              max-width: unset;
              min-width: unset;
              margin-right: 0px;

              &:hover {
                background-color: #652d90;
              }
            }
          }
        }
      }
    }
  }
}

/* Portrait */

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 155px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          flex-direction: column !important;
          margin-left: 0 !important;
          width: 100%;
          padding: 0 20px;

          .br-left {
            border: 0;
          }

          .nav-item {
            padding: 0 20px;
            border-bottom: 1px solid rgba(66, 94, 112, 0.03);
            width: 100%;

            a {
              padding: 8px 12px;
              font-size: 16px;

              &::after {
                background-color: #652d90;
                border-color: #652d90;
                left: 12px;
              }

              &:hover {
                color: #652d90;
              }

              &.active {
                color: #652d90;
              }
            }
          }

          .nav-btn {
            padding-left: 22px !important;
            margin-top: 10px;

            .btn.btn {
              height: 40px;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        position: absolute;
        right: 15px;
        top: -20px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 40px;
          width: 40px;
          border: 0;
        }
      }
    }
  }

  .header .navbar .collapse1 .navbar-nav .get-started {
    .dropdown-menu {
      padding: 5px 0;
      right: 0px;
      left: 0;
      position: relative;
      width: 100%;

      a {
        padding: 8px 20px;
        font-size: 18px;
        line-height: 30px;
        height: 40px;

        .img-menu {
          height: 25px;
          width: 25px;
          min-width: 25px;
          margin-right: 14px;
          display: block;
          margin-top: -10px;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  
  .user-account {
    padding-right: 60px;

    ul {
      li {
        a {
          padding: 7px 15px;
          font-size: 22px;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 95, 112, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    right: -400px;
  }

  .width-menu {
    // width: 35%;
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  .middle-section {
    padding-top: 70px;

    .ourstories-banner-section {
      background-size: 100%;
      background-position: bottom center;
    }

    .school-section {
      &::after {
        height: 150px;
        width: 150px;
        background-size: 100%;
      }
    }

    .about-content-section {
      padding: 70px 0;

      .content {
        margin-bottom: 60px;

        p {
          line-height: 40px;
        }
      }

    }

    .skill-section {
      padding: 70px 0;

      .skill-list {
        margin-bottom: 60px;
      }
    }

    .excersie-about-section {
      &::before {
        height: 150px;
        width: 150px;
      }

      &::after {
        height: 150px;
        width: 150px;
      }

      .content  {
        padding: 0 30px;
      }
    }

    .excersie-section {
      overflow: hidden;

      &::before {
        height: 150px;
        width: 150px;
      }

      &::after {
        height: 150px;
        width: 150px;
      }

      .content  {
        padding: 0 30px;
      }
    }

    .better-support-section {
      overflow: hidden;
      &::before {
        height: 150px;
        width: 150px;
      }

      &::after {
        height: 150px;
        width: 150px;
      }

      .content  {
        padding: 0 30px;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  // middle section

  .middle-section {

    .btn.btn-secondary {
      padding: 12px 30px 15px 30px;
      margin-right: 20px;
    }

    .banner-section {
      .banner-left-content {
        margin-bottom: 40px;

     
        
      }

      .banner-right {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 500px;
        }
      }
    }

    .connect-section .connect-block-row {
      padding: 70px 0;

      .connect-content {
        h3 {
          font-size: 40px;
          line-height: 50px;
        }
      }
    }

    .help-school-section {
      .help-school-tabs {
        .nav-tabs {
          overflow-x: auto;
          flex-wrap: nowrap;
          display: flex;
        }
      }
    }

    .feature-section {
      overflow: hidden;

      .feature-card .feature-body p { 
        line-height: 30px;
      }
    }

  }

  .footer-section {
    
    .footer-content ul li {
      width: 100%;
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  
  
  .header {
    .navbar {
      .collapse1 {
        .navbar-nav {
          .nav-item {
            a {
              font-size: 16px;
              font-weight: 500;
              line-height: 22px;
              padding: 8px 15px;
            }
          }

          .nav-item.nav-btn {
            padding-left: 10px !important;
          }
        }
      }
    }
  }

  .footer-section {
    .social-media {
      margin-top: 30px;
    }
  }

  .middle-section {

   

    .banner-section {
      padding: 50px;

      .banner-left-content {
        h2 {
          font-size: 40px;
          line-height: 50px;
        }

        .banner-btn {
          padding: 40px 0;
        }
      }

      .banner-right {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

/* ----------- iPad Pro ----------- */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .middle-section .home-banner-section .banner-box {
    margin: 0 0 130px 0;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}
